/* line 1, ../../scss/base/_mixins.scss */
.page-events .l-main .main {
  width: 100vw;
  margin-left: calc(-50vw + 50%);
}

/* line 6, ../../scss/base/_mixins.scss */
.page-events .l-main .main .top-region-inner h1 {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
}

/* line 9, ../../scss/content_types/event_listing.scss */
.page-events .l-main .main .top-region-inner {
  padding: 0px;
}
/* line 17, ../../scss/content_types/event_listing.scss */
.page-events .l-main .main .top-region-inner .pane-content p {
  margin-bottom: 0px;
}
/* line 24, ../../scss/content_types/event_listing.scss */
.page-events .l-main .main .middle-region .left-region {
  background-color: #f7f7f7;
  border-right: 1px solid #e6eaea;
}
/* line 28, ../../scss/content_types/event_listing.scss */
.page-events .l-main .main .middle-region .left-region .filter-title {
  background-color: #49c5b6;
  margin-left: -0.9375rem;
  margin-right: -0.9375rem;
  padding: 0px 0.9375rem;
  height: 70px;
}
/* line 35, ../../scss/content_types/event_listing.scss */
.page-events .l-main .main .middle-region .left-region .filter-title h2 {
  margin: 0px;
  color: #fff;
  line-height: 70px;
  position: relative;
}
/* line 41, ../../scss/content_types/event_listing.scss */
.page-events .l-main .main .middle-region .left-region .filter-title h2:after {
  content: '';
  width: 20px;
  height: 20px;
  margin: auto;
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url("/sites/all/themes/ottawa/images/dropdown_arrow.svg");
  transform: rotate(180deg);
}
/* line 59, ../../scss/content_types/event_listing.scss */
.page-events .l-main .main .middle-region .left-region ul {
  list-style: none;
  overflow: hidden;
}
/* line 63, ../../scss/content_types/event_listing.scss */
.page-events .l-main .main .middle-region .left-region ul li {
  margin: 0px;
  clear: both;
}
/* line 67, ../../scss/content_types/event_listing.scss */
.page-events .l-main .main .middle-region .left-region ul li .facetapi-checkbox {
  width: 25px;
  height: 25px;
  margin: 0px;
  float: left;
  white-space: nowrap;
}
/* line 78, ../../scss/content_types/event_listing.scss */
.page-events .l-main .main .middle-region .right-region {
  background-color: #fff;
}
/* line 82, ../../scss/content_types/event_listing.scss */
.page-events .l-main .main .middle-region .right-region .view-events .view-header {
  margin-left: -0.9375rem;
  margin-right: -0.9375rem;
  background-color: #f7f7f7;
  border-bottom: 1px solid #e6eaea;
  margin-bottom: 30px;
  height: 70px;
}
