/* line 1, ../../scss/base/_mixins.scss */
.node-type-facebook-event .pane-node-field-cover-image {
  width: 100vw;
  margin-left: calc(-50vw + 50%);
}

/* line 5, ../../scss/content_types/facebook_event.scss */
.node-type-facebook-event .pane-node-field-cover-image {
  max-height: 700px;
  overflow: hidden;
}
/* line 10, ../../scss/content_types/facebook_event.scss */
.node-type-facebook-event .pane-node-field-cover-image img {
  width: 100%;
}
/* line 15, ../../scss/content_types/facebook_event.scss */
.node-type-facebook-event .top-region {
  margin-top: -50px;
  background-color: #fff;
  box-shadow: #CCC 0 0 0.25em;
  z-index: 999;
  position: relative;
}
/* line 22, ../../scss/content_types/facebook_event.scss */
.node-type-facebook-event .top-region .top-region-inner {
  margin-top: -50px;
  padding-top: 0.9375rem;
}
/* line 26, ../../scss/content_types/facebook_event.scss */
.node-type-facebook-event .top-region .top-region-inner:after {
  height: 5px;
  width: 100%;
  background: white;
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0;
}
/* line 38, ../../scss/content_types/facebook_event.scss */
.node-type-facebook-event .middle-region {
  background-color: #fff;
  box-shadow: #CCC 0 0 0.25em;
  padding-bottom: 15px;
}
