/* line 1, ../../scss/base/_mixins.scss */
.node-type-ticketmaster-event .pane-node-field-cover-image {
  width: 100vw;
  margin-left: calc(-50vw + 50%);
}

/* line 5, ../../scss/content_types/ticketmaster_event.scss */
.node-type-ticketmaster-event .pane-node-field-cover-image {
  max-height: 700px;
  overflow: hidden;
}
/* line 10, ../../scss/content_types/ticketmaster_event.scss */
.node-type-ticketmaster-event .pane-node-field-cover-image img {
  width: 100%;
}
/* line 15, ../../scss/content_types/ticketmaster_event.scss */
.node-type-ticketmaster-event .top-region {
  margin-top: -50px;
  background-color: #fff;
  box-shadow: #CCC 0 0 0.25em;
  z-index: 999;
  position: relative;
}
/* line 22, ../../scss/content_types/ticketmaster_event.scss */
.node-type-ticketmaster-event .top-region .top-region-inner {
  margin-top: -50px;
  padding-top: 0.9375rem;
}
/* line 26, ../../scss/content_types/ticketmaster_event.scss */
.node-type-ticketmaster-event .top-region .top-region-inner:after {
  height: 5px;
  width: 100%;
  background: white;
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0;
}
/* line 38, ../../scss/content_types/ticketmaster_event.scss */
.node-type-ticketmaster-event .middle-region {
  background-color: #fff;
  box-shadow: #CCC 0 0 0.25em;
  padding-bottom: 15px;
}
/* line 45, ../../scss/content_types/ticketmaster_event.scss */
.node-type-ticketmaster-event .pane-show-times-panel-pane-show-time h2.pane-title {
  font-size: 1.5rem;
}
/* line 50, ../../scss/content_types/ticketmaster_event.scss */
.node-type-ticketmaster-event .pane-show-times-panel-pane-show-time .view-show-times .views-row {
  border-bottom: 1px solid #e6eaea;
}
/* line 53, ../../scss/content_types/ticketmaster_event.scss */
.node-type-ticketmaster-event .pane-show-times-panel-pane-show-time .view-show-times .views-row .date {
  font-weight: bold;
}
/* line 57, ../../scss/content_types/ticketmaster_event.scss */
.node-type-ticketmaster-event .pane-show-times-panel-pane-show-time .view-show-times .views-row .time {
  font-weight: lighter;
}
/* line 61, ../../scss/content_types/ticketmaster_event.scss */
.node-type-ticketmaster-event .pane-show-times-panel-pane-show-time .view-show-times .views-row .location {
  font-weight: lighter;
}
/* line 65, ../../scss/content_types/ticketmaster_event.scss */
.node-type-ticketmaster-event .pane-show-times-panel-pane-show-time .view-show-times .views-row a {
  padding: 15px;
  color: #333;
  display: block;
}
/* line 71, ../../scss/content_types/ticketmaster_event.scss */
.node-type-ticketmaster-event .pane-show-times-panel-pane-show-time .view-show-times .views-row .button {
  margin-bottom: 0px;
}
/* line 75, ../../scss/content_types/ticketmaster_event.scss */
.node-type-ticketmaster-event .pane-show-times-panel-pane-show-time .view-show-times .views-row:hover {
  background-color: #f7f7f7;
}
/* line 79, ../../scss/content_types/ticketmaster_event.scss */
.node-type-ticketmaster-event .pane-show-times-panel-pane-show-time .view-show-times .views-row.views-row-first {
  border-top: 1px solid #e6eaea;
}
