/* Blog Pages (View) */
/* line 3, ../../scss/components/blog.scss */
.node-type-blog #blog-header {
  background-color: #0b354d;
  position: relative;
}
/* line 7, ../../scss/components/blog.scss */
.node-type-blog #blog-header img {
  width: 100%;
}
/* line 11, ../../scss/components/blog.scss */
.node-type-blog #blog-header .banner-color-overlay {
  width: 100vw;
  position: absolute;
  top: 0px;
  height: 100%;
  opacity: 0.6;
  background-color: #0b354d;
}
/* line 20, ../../scss/components/blog.scss */
.node-type-blog #blog-header .title-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
/* line 27, ../../scss/components/blog.scss */
.node-type-blog #blog-header .title-wrapper .title-prefix {
  text-align: center;
  color: #fff;
}
/* line 32, ../../scss/components/blog.scss */
.node-type-blog #blog-header .title-wrapper h1 {
  color: #fff;
  text-align: center;
}
/* line 40, ../../scss/components/blog.scss */
.node-type-blog .inner-wrap .banner-outer-wrapper {
  margin-top: 20px;
}
/* line 43, ../../scss/components/blog.scss */
.node-type-blog .inner-wrap .banner-outer-wrapper .breadcrumbs {
  background-color: transparent;
  border: none;
  margin-bottom: 0px;
}
/* line 51, ../../scss/components/blog.scss */
.node-type-blog article.node-blog {
  margin-bottom: 50px;
}
/* line 54, ../../scss/components/blog.scss */
.node-type-blog article.node-blog .posted {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 15px;
  margin-bottom: 30px;
  width: 100%;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
}
/* line 63, ../../scss/components/blog.scss */
.node-type-blog article.node-blog .posted .user-picture {
  display: table-cell;
}
/* line 66, ../../scss/components/blog.scss */
.node-type-blog article.node-blog .posted .user-picture img {
  border-radius: 50%;
}
/* line 71, ../../scss/components/blog.scss */
.node-type-blog article.node-blog .posted .user-info {
  vertical-align: top;
  padding-left: 20px;
  display: table-cell;
}
/* line 76, ../../scss/components/blog.scss */
.node-type-blog article.node-blog .posted .user-info .user-full-name {
  font-weight: 700;
  font-size: 1.4em;
}
/* line 81, ../../scss/components/blog.scss */
.node-type-blog article.node-blog .posted .user-info .user-title-line {
  letter-spacing: 0.05em;
  font-style: italic;
  color: #808080;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-weight: 200;
  margin-bottom: 15px;
}
/* line 91, ../../scss/components/blog.scss */
.node-type-blog article.node-blog .posted .user-info .user-social img {
  max-width: 30px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
/* line 96, ../../scss/components/blog.scss */
.node-type-blog article.node-blog .posted .user-info .user-social img:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}
/* line 105, ../../scss/components/blog.scss */
.node-type-blog article.node-blog .date-and-time {
  margin-bottom: 30px;
  color: #808080;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-weight: 200;
}
/* line 111, ../../scss/components/blog.scss */
.node-type-blog article.node-blog .date-and-time .read-time {
  margin-left: 50px;
}
/* line 116, ../../scss/components/blog.scss */
.node-type-blog article.node-blog p {
  font-weight: 100;
  font-size: 1.2em;
  margin: 20px 0px;
}
/* line 122, ../../scss/components/blog.scss */
.node-type-blog article.node-blog ul {
  font-weight: 100;
  font-size: 1em;
  margin: 15px 30px;
}
/* line 128, ../../scss/components/blog.scss */
.node-type-blog article.node-blog blockquote {
  margin: 20px;
  padding-bottom: 9px;
}
/* line 133, ../../scss/components/blog.scss */
.node-type-blog article.node-blog blockquote p {
  margin: 0px;
}
/* line 137, ../../scss/components/blog.scss */
.node-type-blog article.node-blog h2 {
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 1.9em;
  font-weight: 300;
}
/* line 144, ../../scss/components/blog.scss */
.node-type-blog article.node-blog h3 {
  font-size: 1.6em;
  margin-top: 30px;
}
/* line 149, ../../scss/components/blog.scss */
.node-type-blog article.node-blog #disqus_thread {
  margin-top: 50px;
}

/* Large */
@media screen and (min-width: 1025px) {
  /* line 158, ../../scss/components/blog.scss */
  .node-type-blog .breadcrumbs,
  .node-type-blog ul.button-group,
  .node-type-blog article.node-blog {
    margin-left: 100px;
    margin-right: 100px;
  }
}
/* Medium */
@media screen and (min-width: 641px) and (max-width: 1024px) {
  /* line 169, ../../scss/components/blog.scss */
  article.node-blog {
    margin-left: 60px;
    margin-right: 60px;
  }
}
/* Small */
@media screen and (max-width: 640px) {
  /* line 177, ../../scss/components/blog.scss */
  article.node-blog {
    margin-left: 0px;
    margin-right: 0px;
  }
  /* line 182, ../../scss/components/blog.scss */
  article.node-blog .posted .user-picture {
    display: block !important;
    text-align: center;
  }
  /* line 187, ../../scss/components/blog.scss */
  article.node-blog .posted .user-info {
    text-align: center;
    padding: 5px 15px !important;
    display: block !important;
  }
}
