/* Field Collections */
/* line 2, ../../scss/components/field_collection.scss */
.field-collection-view {
  padding: 0px;
  margin: 0px 0px 15px 0px;
  border: none;
}
/* line 7, ../../scss/components/field_collection.scss */
.field-collection-view .entity-field-collection-item {
  border-top: 4px solid #ea5739;
  border-bottom: 1px solid #eee;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  border-radius: 4px;
  padding: 15px;
}
/* line 16, ../../scss/components/field_collection.scss */
.field-collection-view .entity-field-collection-item.field-collection-item-field-experience .field-name-field-company {
  font-size: 1.5em;
  font-weight: 600;
}
/* line 21, ../../scss/components/field_collection.scss */
.field-collection-view .entity-field-collection-item.field-collection-item-field-experience .field-name-field-project {
  font-weight: 600;
}
/* line 26, ../../scss/components/field_collection.scss */
.field-collection-view .entity-field-collection-item.field-collection-item-field-experience .date-display-range .date-display-start,
.field-collection-view .entity-field-collection-item.field-collection-item-field-experience .date-display-range .date-display-end {
  font-weight: 600;
}
/* line 32, ../../scss/components/field_collection.scss */
.field-collection-view .entity-field-collection-item.field-collection-item-field-experience .field-name-field-role {
  font-weight: 600;
}
/* line 36, ../../scss/components/field_collection.scss */
.field-collection-view .entity-field-collection-item.field-collection-item-field-experience .field-name-field-description {
  margin-top: 15px;
}
/* line 40, ../../scss/components/field_collection.scss */
.field-collection-view .entity-field-collection-item.field-collection-item-field-experience .field-name-field-tasks {
  margin-top: 15px;
}
/* line 44, ../../scss/components/field_collection.scss */
.field-collection-view .entity-field-collection-item.field-collection-item-field-experience .field-name-field-technology {
  margin-top: 15px;
}
