/* Footer */
/* line 3, ../../scss/components/footer.scss */
.cinder-systems-logo {
  text-align: center;
  margin: auto;
  margin-top: 75px;
  margin-bottom: 15px;
  background-color: #f7f7f7;
  transition: all 0.5s;
}
/* line 11, ../../scss/components/footer.scss */
.cinder-systems-logo:hover {
  transform: scale(1.1);
}
/* line 15, ../../scss/components/footer.scss */
.cinder-systems-logo img {
  mix-blend-mode: multiply;
  will-change: opacity;
  max-width: 200px;
}

/* line 22, ../../scss/components/footer.scss */
footer.l-footer {
  margin-bottom: 0px;
  background-color: #292929;
  border: none;
  position: relative;
  overflow: auto;
}
/* line 29, ../../scss/components/footer.scss */
footer.l-footer .cinder-container {
  margin-bottom: 60px;
}
/* line 32, ../../scss/components/footer.scss */
footer.l-footer .cinder-container .footer-1 {
  text-align: center;
}
/* line 37, ../../scss/components/footer.scss */
footer.l-footer .block-title {
  color: #fff;
  margin-bottom: 1em;
}
/* line 42, ../../scss/components/footer.scss */
footer.l-footer ul {
  list-style: none;
  margin-left: 0px;
}
/* line 46, ../../scss/components/footer.scss */
footer.l-footer ul li {
  padding: 0.25em 0px;
}
/* line 49, ../../scss/components/footer.scss */
footer.l-footer ul li a {
  color: #8a9ca7;
}
/* line 55, ../../scss/components/footer.scss */
footer.l-footer .copyright {
  text-align: center;
  color: #fff;
  padding: 10px;
}

/* Large */
@media screen and (min-width: 1025px) {
  /* line 64, ../../scss/components/footer.scss */
  footer.l-footer {
    padding: 120px 0px 0px 0px;
  }
  /* line 69, ../../scss/components/footer.scss */
  footer.l-footer .cinder-container .footer-1 img {
    max-width: 100px;
  }
  /* line 75, ../../scss/components/footer.scss */
  footer.l-footer .block-title {
    font-size: 1em;
  }
}
/* Medium */
@media screen and (min-width: 641px) and (max-width: 1024px) {
  /* line 83, ../../scss/components/footer.scss */
  footer.l-footer {
    padding: 100px 0px 0px 0px;
  }
  /* line 88, ../../scss/components/footer.scss */
  footer.l-footer .cinder-container .footer-1 img {
    max-width: 80px;
  }
  /* line 94, ../../scss/components/footer.scss */
  footer.l-footer .block-title {
    font-size: 1.1em;
  }
}
/* Small */
@media screen and (max-width: 640px) {
  /* line 102, ../../scss/components/footer.scss */
  footer.l-footer {
    padding: 60px 0px 0px 0px;
  }
  /* line 107, ../../scss/components/footer.scss */
  footer.l-footer .cinder-container .footer-1 img {
    max-width: 50px;
    margin-bottom: 30px;
  }
  /* line 113, ../../scss/components/footer.scss */
  footer.l-footer .cinder-container .columns {
    text-align: center;
  }
  /* line 118, ../../scss/components/footer.scss */
  footer.l-footer .block-title {
    font-size: 1.2em;
  }
}
