/* line 24, ../../scss/base/_init.scss */
.rounded {
  border-radius: 4px;
}

/* line 28, ../../scss/base/_init.scss */
img.right {
  float: right;
  padding-left: 15px;
}

/* line 33, ../../scss/base/_init.scss */
.color-top {
  width: 100%;
  height: 5px;
  background: #ea5739;
  background: linear-gradient(90deg, #ea5739 0%, #f8a32d 100%);
  position: absolute;
  top: 0px;
}

/* line 42, ../../scss/base/_init.scss */
.color-bottom {
  width: 100%;
  height: 5px;
  background: #ea5739;
  background: linear-gradient(90deg, #ea5739 0%, #f8a32d 100%);
  position: absolute;
  bottom: 0px;
}

/* line 51, ../../scss/base/_init.scss */
p.tip {
  border-left: 4px solid #ea5739;
  padding: 20px 30px;
  background: #fde4c1;
  font-style: italic;
  border-radius: 4px;
  margin: 50px 0px !important;
}

/* line 60, ../../scss/base/_init.scss */
.large-blog-img-right {
  max-width: 300px;
}

/* line 64, ../../scss/base/_init.scss */
p,
h1,
h2,
h3,
h4,
h5,
body {
  font-family: 'Roboto', sans-serif !important;
}

/* Above Small */
@media screen and (min-width: 641px) {
  /* line 76, ../../scss/base/_init.scss */
  .row.l-main,
  .cinder-container {
    max-width: 70% !important;
    margin-left: auto;
    margin-right: auto;
  }
}
/* Small */
@media screen and (max-width: 640px) {
  /* line 86, ../../scss/base/_init.scss */
  .row.l-main,
  .cinder-container {
    padding-top: 0px;
    padding-left: 15px;
    padding-right: 15px;
    width: 100% !important;
  }

  /* line 94, ../../scss/base/_init.scss */
  .main.columns {
    padding: 0px;
  }
}
/* Medium */
/* Large */
@media screen and (min-width: 1025px) {
  /* line 106, ../../scss/base/_init.scss */
  .large-right {
    float: right;
  }

  /* line 110, ../../scss/base/_init.scss */
  .large-blog-img-right {
    margin-left: 50px;
    margin-top: -40px;
  }
}
/* line 3, ../../scss/components/homepage_banner.scss */
.pane-cinder-blocks-homepage-banner {
  width: 100vw;
  position: relative;
  margin-left: -50vw;
  left: 50%;
  overflow: hidden;
}
/* line 10, ../../scss/components/homepage_banner.scss */
.pane-cinder-blocks-homepage-banner #homepage-banner {
  height: 80vh;
  background-color: #0b354d;
  background-attachment: fixed;
}
/* line 15, ../../scss/components/homepage_banner.scss */
.pane-cinder-blocks-homepage-banner #homepage-banner:after {
  content: '';
  display: block;
  -webkit-clip-path: polygon(100% 100%, 0 100%, 100% 0);
  clip-path: polygon(100% 100%, 0 100%, 100% 0);
  height: 100px;
  width: 100%;
  background: #f7f7f7;
  bottom: -1px;
  position: absolute;
  z-index: 1;
}
/* line 28, ../../scss/components/homepage_banner.scss */
.pane-cinder-blocks-homepage-banner #homepage-banner .banner-wrapper {
  pointer-events: none;
  margin: auto;
  height: 80vh;
  position: relative;
}
/* line 34, ../../scss/components/homepage_banner.scss */
.pane-cinder-blocks-homepage-banner #homepage-banner .banner-wrapper .banner-wrapper-inner {
  overflow: hidden;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}
/* line 41, ../../scss/components/homepage_banner.scss */
.pane-cinder-blocks-homepage-banner #homepage-banner .banner-wrapper .banner-wrapper-inner .banner-overlay {
  pointer-events: none;
  z-index: 1;
  padding: 15px;
}
/* line 46, ../../scss/components/homepage_banner.scss */
.pane-cinder-blocks-homepage-banner #homepage-banner .banner-wrapper .banner-wrapper-inner .banner-overlay .banner-title {
  font-size: 3.4em;
  line-height: 1em;
  margin-bottom: 0px;
  color: #fff;
  font-weight: bold;
}
/* line 54, ../../scss/components/homepage_banner.scss */
.pane-cinder-blocks-homepage-banner #homepage-banner .banner-wrapper .banner-wrapper-inner .banner-overlay h1 {
  font-size: 1.4em;
  margin-top: 10px;
  padding: 5px;
  color: #fff;
}
/* line 61, ../../scss/components/homepage_banner.scss */
.pane-cinder-blocks-homepage-banner #homepage-banner .banner-wrapper .banner-wrapper-inner .banner-overlay h2,
.pane-cinder-blocks-homepage-banner #homepage-banner .banner-wrapper .banner-wrapper-inner .banner-overlay p {
  pointer-events: none;
  color: #fff;
}
/* line 70, ../../scss/components/homepage_banner.scss */
.pane-cinder-blocks-homepage-banner #homepage-banner .banner-wrapper .banner-image-wrapper img {
  filter: brightness(80%);
  width: 100vw;
}

/* Large */
@media screen and (min-width: 1025px) {
  /* line 81, ../../scss/components/homepage_banner.scss */
  #homepage-banner {
    background-image: url("../images/Majors-Hill-Park-View-of-Parliament.jpg");
    background-size: cover;
  }
  /* line 85, ../../scss/components/homepage_banner.scss */
  #homepage-banner .banner-wrapper {
    max-width: 80%;
  }
  /* line 88, ../../scss/components/homepage_banner.scss */
  #homepage-banner .banner-wrapper .banner-wrapper-inner {
    width: 48%;
  }
  /* line 92, ../../scss/components/homepage_banner.scss */
  #homepage-banner .banner-wrapper .banner-wrapper-inner .banner-overlay h2 {
    font-size: 4em;
    letter-spacing: 4px;
    line-height: 1.3em;
  }
  /* line 98, ../../scss/components/homepage_banner.scss */
  #homepage-banner .banner-wrapper .banner-wrapper-inner .banner-overlay p {
    font-size: 1.9em;
  }
}
/* Medium */
@media screen and (min-width: 641px) and (max-width: 1024px) {
  /* line 109, ../../scss/components/homepage_banner.scss */
  #homepage-banner {
    background-image: url("../images/Majors-Hill-Park-View-of-Parliament.jpg");
    background-size: cover;
  }
  /* line 113, ../../scss/components/homepage_banner.scss */
  #homepage-banner .banner-wrapper {
    max-width: 80%;
  }
  /* line 116, ../../scss/components/homepage_banner.scss */
  #homepage-banner .banner-wrapper .banner-wrapper-inner {
    width: 100%;
  }
  /* line 120, ../../scss/components/homepage_banner.scss */
  #homepage-banner .banner-wrapper .banner-wrapper-inner .banner-overlay h2 {
    font-size: 4em;
    letter-spacing: 4px;
    line-height: 1.3em;
  }
  /* line 126, ../../scss/components/homepage_banner.scss */
  #homepage-banner .banner-wrapper .banner-wrapper-inner .banner-overlay p {
    font-size: 1.9em;
  }
}
/* Small */
@media screen and (max-width: 640px) {
  /* line 137, ../../scss/components/homepage_banner.scss */
  body {
    font-size: 0.9em;
  }

  /* line 141, ../../scss/components/homepage_banner.scss */
  #homepage-banner {
    background-image: url("../images/Majors-Hill-Park-View-of-Parliament-mobile-design.jpg");
  }
  /* line 144, ../../scss/components/homepage_banner.scss */
  #homepage-banner .banner-wrapper {
    width: 100%;
  }
  /* line 147, ../../scss/components/homepage_banner.scss */
  #homepage-banner .banner-wrapper .banner-wrapper-inner {
    width: 100%;
  }
  /* line 151, ../../scss/components/homepage_banner.scss */
  #homepage-banner .banner-wrapper .banner-wrapper-inner .banner-overlay h2 {
    font-size: 3.5em;
    letter-spacing: 4px;
    line-height: 1.3em;
  }
  /* line 157, ../../scss/components/homepage_banner.scss */
  #homepage-banner .banner-wrapper .banner-wrapper-inner .banner-overlay p {
    font-size: 1.7em !important;
  }
}
