/* line 24, ../../scss/base/_init.scss */
.rounded {
  border-radius: 4px;
}

/* line 28, ../../scss/base/_init.scss */
img.right {
  float: right;
  padding-left: 15px;
}

/* line 33, ../../scss/base/_init.scss */
.color-top {
  width: 100%;
  height: 5px;
  background: #ea5739;
  background: linear-gradient(90deg, #ea5739 0%, #f8a32d 100%);
  position: absolute;
  top: 0px;
}

/* line 42, ../../scss/base/_init.scss */
.color-bottom {
  width: 100%;
  height: 5px;
  background: #ea5739;
  background: linear-gradient(90deg, #ea5739 0%, #f8a32d 100%);
  position: absolute;
  bottom: 0px;
}

/* line 51, ../../scss/base/_init.scss */
p.tip {
  border-left: 4px solid #ea5739;
  padding: 20px 30px;
  background: #fde4c1;
  font-style: italic;
  border-radius: 4px;
  margin: 50px 0px !important;
}

/* line 60, ../../scss/base/_init.scss */
.large-blog-img-right {
  max-width: 300px;
}

/* line 64, ../../scss/base/_init.scss */
p,
h1,
h2,
h3,
h4,
h5,
body {
  font-family: 'Roboto', sans-serif !important;
}

/* Above Small */
@media screen and (min-width: 641px) {
  /* line 76, ../../scss/base/_init.scss */
  .row.l-main,
  .cinder-container {
    max-width: 70% !important;
    margin-left: auto;
    margin-right: auto;
  }
}
/* Small */
@media screen and (max-width: 640px) {
  /* line 86, ../../scss/base/_init.scss */
  .row.l-main,
  .cinder-container {
    padding-top: 0px;
    padding-left: 15px;
    padding-right: 15px;
    width: 100% !important;
  }

  /* line 94, ../../scss/base/_init.scss */
  .main.columns {
    padding: 0px;
  }
}
/* Medium */
/* Large */
@media screen and (min-width: 1025px) {
  /* line 106, ../../scss/base/_init.scss */
  .large-right {
    float: right;
  }

  /* line 110, ../../scss/base/_init.scss */
  .large-blog-img-right {
    margin-left: 50px;
    margin-top: -40px;
  }
}
/* line 3, ../../scss/components/homepage_blocks.scss */
.pane-cinder-blocks-technology-icon-banner {
  width: 100vw;
  position: relative;
  margin-left: -50vw;
  left: 50%;
}
/* line 9, ../../scss/components/homepage_blocks.scss */
.pane-cinder-blocks-technology-icon-banner:before {
  content: "Services";
  position: absolute;
  font-size: 28em;
  color: #0c3851;
  bottom: 100px;
  font-weight: bold;
  width: 100%;
  transform: skewY(-5deg);
  line-height: 100px;
}
/* line 21, ../../scss/components/homepage_blocks.scss */
.pane-cinder-blocks-technology-icon-banner .pane-content {
  padding-top: 100px;
  padding-bottom: 70px;
  margin-top: 150px;
  background-color: #0b354d;
}
/* line 27, ../../scss/components/homepage_blocks.scss */
.pane-cinder-blocks-technology-icon-banner .pane-content:before {
  content: '';
  display: block;
  -webkit-clip-path: polygon(100% 0%, 0% 100%, 100% 100%);
  clip-path: polygon(100% 0%, 0% 100%, 100% 100%);
  height: 100px;
  width: 100%;
  background: #0b354d;
  top: -99px;
  position: absolute;
  z-index: -1;
}
/* line 40, ../../scss/components/homepage_blocks.scss */
.pane-cinder-blocks-technology-icon-banner .pane-content:after {
  content: '';
  display: block;
  -webkit-clip-path: polygon(0 0, 0 100%, 100% 0);
  clip-path: polygon(0 0, 0 100%, 100% 0);
  height: 100px;
  width: 100%;
  background: #0b354d;
  bottom: -99px;
  position: absolute;
  z-index: -1;
}
/* line 55, ../../scss/components/homepage_blocks.scss */
.pane-cinder-blocks-technology-icon-banner .pane-content .services-banner .tech-wrapper .before-title {
  color: #fff;
  font-size: 1.2em;
}
/* line 60, ../../scss/components/homepage_blocks.scss */
.pane-cinder-blocks-technology-icon-banner .pane-content .services-banner .tech-wrapper .title {
  margin-bottom: 50px;
}
/* line 63, ../../scss/components/homepage_blocks.scss */
.pane-cinder-blocks-technology-icon-banner .pane-content .services-banner .tech-wrapper .title h2 {
  font-size: 3em;
  line-height: 50px;
  color: #fff;
}
/* line 70, ../../scss/components/homepage_blocks.scss */
.pane-cinder-blocks-technology-icon-banner .pane-content .services-banner .tech-wrapper .services-banner-wrapper {
  padding-top: 15px;
}
/* line 72, ../../scss/components/homepage_blocks.scss */
.pane-cinder-blocks-technology-icon-banner .pane-content .services-banner .tech-wrapper .services-banner-wrapper .columns {
  text-align: center;
  margin-bottom: 30px;
}
/* line 76, ../../scss/components/homepage_blocks.scss */
.pane-cinder-blocks-technology-icon-banner .pane-content .services-banner .tech-wrapper .services-banner-wrapper .columns img {
  transition: all 0.5s;
  max-width: 100px;
}
/* line 80, ../../scss/components/homepage_blocks.scss */
.pane-cinder-blocks-technology-icon-banner .pane-content .services-banner .tech-wrapper .services-banner-wrapper .columns img:hover {
  transform: scale(1.05);
}
/* line 85, ../../scss/components/homepage_blocks.scss */
.pane-cinder-blocks-technology-icon-banner .pane-content .services-banner .tech-wrapper .services-banner-wrapper .columns .service-label {
  color: #ea5739;
  font-weight: bold;
  font-size: 1.2em;
  margin-top: 15px;
  text-align: center;
}
/* line 93, ../../scss/components/homepage_blocks.scss */
.pane-cinder-blocks-technology-icon-banner .pane-content .services-banner .tech-wrapper .services-banner-wrapper .columns .blurb {
  color: #fff;
}

/* line 103, ../../scss/components/homepage_blocks.scss */
.pane-cinder-blocks-homepage-image-left,
.pane-cinder-blocks-homepage-image-right-2 {
  padding-top: 150px;
  padding-bottom: 150px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
/* line 118, ../../scss/components/homepage_blocks.scss */
.pane-cinder-blocks-homepage-image-left .homepage-block img,
.pane-cinder-blocks-homepage-image-right-2 .homepage-block img {
  width: 100%;
  transition: all 0.5s;
}
/* line 122, ../../scss/components/homepage_blocks.scss */
.pane-cinder-blocks-homepage-image-left .homepage-block img:hover,
.pane-cinder-blocks-homepage-image-right-2 .homepage-block img:hover {
  transform: scale(1.05);
  opacity: 0.2;
}
/* line 128, ../../scss/components/homepage_blocks.scss */
.pane-cinder-blocks-homepage-image-left .homepage-block .title,
.pane-cinder-blocks-homepage-image-right-2 .homepage-block .title {
  margin-bottom: 24px;
}
/* line 131, ../../scss/components/homepage_blocks.scss */
.pane-cinder-blocks-homepage-image-left .homepage-block .title h2,
.pane-cinder-blocks-homepage-image-right-2 .homepage-block .title h2 {
  font-size: 2.5em;
  line-height: 50px;
}
/* line 137, ../../scss/components/homepage_blocks.scss */
.pane-cinder-blocks-homepage-image-left .homepage-block .text,
.pane-cinder-blocks-homepage-image-right-2 .homepage-block .text {
  line-height: 24px;
}
/* line 140, ../../scss/components/homepage_blocks.scss */
.pane-cinder-blocks-homepage-image-left .homepage-block .text button,
.pane-cinder-blocks-homepage-image-right-2 .homepage-block .text button {
  margin-bottom: 0px;
}
/* line 146, ../../scss/components/homepage_blocks.scss */
.pane-cinder-blocks-homepage-image-left .homepage-block.homepage-image-right .left,
.pane-cinder-blocks-homepage-image-right-2 .homepage-block.homepage-image-right .left {
  padding-right: 50px;
}
/* line 150, ../../scss/components/homepage_blocks.scss */
.pane-cinder-blocks-homepage-image-left .homepage-block.homepage-image-right .right,
.pane-cinder-blocks-homepage-image-right-2 .homepage-block.homepage-image-right .right {
  margin-bottom: 30px;
  overflow: hidden;
  padding: 0px;
  background-color: #887136;
}
/* line 159, ../../scss/components/homepage_blocks.scss */
.pane-cinder-blocks-homepage-image-left .homepage-block.homepage-image-left .left,
.pane-cinder-blocks-homepage-image-right-2 .homepage-block.homepage-image-left .left {
  margin-bottom: 30px;
  overflow: hidden;
  padding: 0px;
  background-color: #887136;
}
/* line 166, ../../scss/components/homepage_blocks.scss */
.pane-cinder-blocks-homepage-image-left .homepage-block.homepage-image-left .right,
.pane-cinder-blocks-homepage-image-right-2 .homepage-block.homepage-image-left .right {
  padding-left: 50px;
}

/* line 173, ../../scss/components/homepage_blocks.scss */
.pane-cinder-blocks-homepage-image-right {
  padding-top: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: -50px;
}
/* line 182, ../../scss/components/homepage_blocks.scss */
.pane-cinder-blocks-homepage-image-right .pane-content {
  margin: auto;
}
/* line 186, ../../scss/components/homepage_blocks.scss */
.pane-cinder-blocks-homepage-image-right .homepage-text-center {
  text-align: center;
}
/* line 189, ../../scss/components/homepage_blocks.scss */
.pane-cinder-blocks-homepage-image-right .homepage-text-center .title {
  max-width: 700px;
}
/* line 192, ../../scss/components/homepage_blocks.scss */
.pane-cinder-blocks-homepage-image-right .homepage-text-center .title h2 {
  line-height: 41px;
  font-weight: 700;
  margin-bottom: 40px;
}
/* line 199, ../../scss/components/homepage_blocks.scss */
.pane-cinder-blocks-homepage-image-right .homepage-text-center .text {
  max-width: 700px;
}
/* line 202, ../../scss/components/homepage_blocks.scss */
.pane-cinder-blocks-homepage-image-right .homepage-text-center .text p {
  font-size: 1.5em;
  line-height: 1.5em;
}

/* Large */
/* Medium */
/* Small */
