/* Login Page */
/* line 24, ../../scss/base/_init.scss */
.rounded {
  border-radius: 4px;
}

/* line 28, ../../scss/base/_init.scss */
img.right {
  float: right;
  padding-left: 15px;
}

/* line 33, ../../scss/base/_init.scss */
.color-top {
  width: 100%;
  height: 5px;
  background: #ea5739;
  background: linear-gradient(90deg, #ea5739 0%, #f8a32d 100%);
  position: absolute;
  top: 0px;
}

/* line 42, ../../scss/base/_init.scss */
.color-bottom {
  width: 100%;
  height: 5px;
  background: #ea5739;
  background: linear-gradient(90deg, #ea5739 0%, #f8a32d 100%);
  position: absolute;
  bottom: 0px;
}

/* line 51, ../../scss/base/_init.scss */
p.tip {
  border-left: 4px solid #ea5739;
  padding: 20px 30px;
  background: #fde4c1;
  font-style: italic;
  border-radius: 4px;
  margin: 50px 0px !important;
}

/* line 60, ../../scss/base/_init.scss */
.large-blog-img-right {
  max-width: 300px;
}

/* line 64, ../../scss/base/_init.scss */
p,
h1,
h2,
h3,
h4,
h5,
body {
  font-family: 'Roboto', sans-serif !important;
}

/* Above Small */
@media screen and (min-width: 641px) {
  /* line 76, ../../scss/base/_init.scss */
  .row.l-main,
  .cinder-container {
    max-width: 70% !important;
    margin-left: auto;
    margin-right: auto;
  }
}
/* Small */
@media screen and (max-width: 640px) {
  /* line 86, ../../scss/base/_init.scss */
  .row.l-main,
  .cinder-container {
    padding-top: 0px;
    padding-left: 15px;
    padding-right: 15px;
    width: 100% !important;
  }

  /* line 94, ../../scss/base/_init.scss */
  .main.columns {
    padding: 0px;
  }
}
/* Medium */
/* Large */
@media screen and (min-width: 1025px) {
  /* line 106, ../../scss/base/_init.scss */
  .large-right {
    float: right;
  }

  /* line 110, ../../scss/base/_init.scss */
  .large-blog-img-right {
    margin-left: 50px;
    margin-top: -40px;
  }
}
/* line 4, ../../scss/components/login.scss */
#cinder-login-header {
  width: 100vw;
  height: 350px;
  background: #ea5739;
  background: linear-gradient(90deg, #ea5739 0%, #f8a32d 100%);
  position: relative;
  margin-left: -50vw;
  left: 50%;
}
/* line 13, ../../scss/components/login.scss */
#cinder-login-header:after {
  content: '';
  display: block;
  -webkit-clip-path: polygon(0 0, 0 100%, 100% 0);
  clip-path: polygon(0 0, 0 100%, 100% 0);
  height: 100px;
  width: 100%;
  background: #ea5739;
  background: linear-gradient(90deg, #ea5739 0%, #f8a32d 100%);
  bottom: -100px;
  position: absolute;
}

/* line 27, ../../scss/components/login.scss */
#cinder-login-wrapper {
  position: relative;
  top: -120px;
  background-color: #fff;
  padding: 30px;
  border-radius: 6px;
  width: 100%;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
}
