/* line 24, ../../scss/base/_init.scss */
.rounded {
  border-radius: 4px;
}

/* line 28, ../../scss/base/_init.scss */
img.right {
  float: right;
  padding-left: 15px;
}

/* line 33, ../../scss/base/_init.scss */
.color-top {
  width: 100%;
  height: 5px;
  background: #ea5739;
  background: linear-gradient(90deg, #ea5739 0%, #f8a32d 100%);
  position: absolute;
  top: 0px;
}

/* line 42, ../../scss/base/_init.scss */
.color-bottom {
  width: 100%;
  height: 5px;
  background: #ea5739;
  background: linear-gradient(90deg, #ea5739 0%, #f8a32d 100%);
  position: absolute;
  bottom: 0px;
}

/* line 51, ../../scss/base/_init.scss */
p.tip {
  border-left: 4px solid #ea5739;
  padding: 20px 30px;
  background: #fde4c1;
  font-style: italic;
  border-radius: 4px;
  margin: 50px 0px !important;
}

/* line 60, ../../scss/base/_init.scss */
.large-blog-img-right {
  max-width: 300px;
}

/* line 64, ../../scss/base/_init.scss */
p,
h1,
h2,
h3,
h4,
h5,
body {
  font-family: 'Roboto', sans-serif !important;
}

/* Above Small */
@media screen and (min-width: 641px) {
  /* line 76, ../../scss/base/_init.scss */
  .row.l-main,
  .cinder-container {
    max-width: 70% !important;
    margin-left: auto;
    margin-right: auto;
  }
}
/* Small */
@media screen and (max-width: 640px) {
  /* line 86, ../../scss/base/_init.scss */
  .row.l-main,
  .cinder-container {
    padding-top: 0px;
    padding-left: 15px;
    padding-right: 15px;
    width: 100% !important;
  }

  /* line 94, ../../scss/base/_init.scss */
  .main.columns {
    padding: 0px;
  }
}
/* Medium */
/* Large */
@media screen and (min-width: 1025px) {
  /* line 106, ../../scss/base/_init.scss */
  .large-right {
    float: right;
  }

  /* line 110, ../../scss/base/_init.scss */
  .large-blog-img-right {
    margin-left: 50px;
    margin-top: -40px;
  }
}
/* line 5, ../../scss/components/main_nav.scss */
body .top-bar {
  background-color: transparent;
  border-bottom: 1px solid transparent;
}
/* line 9, ../../scss/components/main_nav.scss */
body .top-bar.color-bar {
  background-color: #f7f7f7;
  border-bottom: 1px solid #e6eaea;
}
/* line 12, ../../scss/components/main_nav.scss */
body .top-bar.color-bar .box-left {
  border-right: 1px solid #e6eaea;
}
/* line 15, ../../scss/components/main_nav.scss */
body .top-bar.color-bar .box-left .toggle-topbar a {
  color: #333;
}
/* line 17, ../../scss/components/main_nav.scss */
body .top-bar.color-bar .box-left .toggle-topbar a span:after {
  box-shadow: 0 0 0 1px #333, 0 6px 0 1px #333, 0 12px 0 1px #333;
}
/* line 26, ../../scss/components/main_nav.scss */
body .top-bar.color-bar .box-right .login-link a {
  color: #333;
}
/* line 33, ../../scss/components/main_nav.scss */
body .top-bar .box-left {
  border-right: 1px solid transparent;
}
/* line 37, ../../scss/components/main_nav.scss */
body .top-bar .box-left .toggle-topbar a {
  color: #fff;
}
/* line 40, ../../scss/components/main_nav.scss */
body .top-bar .box-left .toggle-topbar a span:after {
  box-shadow: 0 0 0 1px #fff, 0 6px 0 1px #fff, 0 12px 0 1px #fff;
}
/* line 49, ../../scss/components/main_nav.scss */
body .top-bar .box-right .login-link a {
  color: #fff;
}

/* line 57, ../../scss/components/main_nav.scss */
.top-bar {
  display: flex;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 70px;
  z-index: 3;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
/* line 70, ../../scss/components/main_nav.scss */
.top-bar .box-left {
  border-right: 1px solid transparent;
  height: 70px;
}
/* line 74, ../../scss/components/main_nav.scss */
.top-bar .box-left .toggle-topbar {
  display: block;
  position: relative;
}
/* line 78, ../../scss/components/main_nav.scss */
.top-bar .box-left .toggle-topbar a {
  color: #fff;
  font-weight: normal;
}
/* line 82, ../../scss/components/main_nav.scss */
.top-bar .box-left .toggle-topbar a span:after {
  margin-top: -7px;
  box-shadow: 0 0 0 1px #fff, 0 6px 0 1px #fff, 0 12px 0 1px #fff;
}
/* line 90, ../../scss/components/main_nav.scss */
.top-bar .box-right {
  flex: 1;
}
/* line 93, ../../scss/components/main_nav.scss */
.top-bar .box-right .login-link {
  float: right;
  margin-top: 16px;
}
/* line 97, ../../scss/components/main_nav.scss */
.top-bar .box-right .login-link a {
  color: #fff;
  font-weight: normal;
  height: 34px;
  line-height: 33px;
  padding: 0 2.5rem 0 0.9375rem;
  position: relative;
}

/* line 109, ../../scss/components/main_nav.scss */
.left-off-canvas-menu {
  background-color: #f7f7f7;
  width: 320px;
  border-right: 1px solid #e6eaea;
  left: 0px;
  position: fixed;
}
/* line 116, ../../scss/components/main_nav.scss */
.left-off-canvas-menu .header {
  padding: 0px 30px;
  height: 70px;
  border-bottom: 1px solid #e6eaea;
}
/* line 121, ../../scss/components/main_nav.scss */
.left-off-canvas-menu .header .exit-off-canvas {
  position: relative;
  box-shadow: none;
  background-color: transparent;
  color: #333;
  line-height: 70px;
  padding-right: 27px;
  font-size: 13px;
  display: block !important;
}
/* line 131, ../../scss/components/main_nav.scss */
.left-off-canvas-menu .header .exit-off-canvas:before {
  content: '';
  position: absolute;
  top: 33px;
  right: 0px;
  width: 20px;
  height: 3px;
  background: #202121;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
/* line 148, ../../scss/components/main_nav.scss */
.left-off-canvas-menu .header .exit-off-canvas:after {
  content: '';
  position: absolute;
  top: 33px;
  right: 0px;
  width: 20px;
  height: 3px;
  background: #202121;
  -webkit-transform: rotate(45deg);
  transform: rotate(-45deg);
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
/* line 167, ../../scss/components/main_nav.scss */
.left-off-canvas-menu #main-menu {
  width: 100%;
}
/* line 170, ../../scss/components/main_nav.scss */
.left-off-canvas-menu #main-menu a {
  border-bottom: 1px solid #e6eaea;
  color: #333;
}
/* line 174, ../../scss/components/main_nav.scss */
.left-off-canvas-menu #main-menu a:hover {
  background-color: #fff;
}

/* line 181, ../../scss/components/main_nav.scss */
.move-right > .left-off-canvas-menu {
  -ms-transform: translate(0px, 0);
  -webkit-transform: translate3d(0px, 0, 0);
  -moz-transform: translate3d(0px, 0, 0);
  -ms-transform: translate3d(0px, 0, 0);
  -o-transform: translate3d(0px, 0, 0);
  transform: translate3d(0px, 0, 0);
}

/* line 190, ../../scss/components/main_nav.scss */
.move-right > .inner-wrap {
  -ms-transform: translate(320px, 0);
  -webkit-transform: translate3d(320px, 0, 0);
  -moz-transform: translate3d(320px, 0, 0);
  -ms-transform: translate3d(320px, 0, 0);
  -o-transform: translate3d(320px, 0, 0);
  transform: translate3d(320px, 0, 0);
}

/* line 199, ../../scss/components/main_nav.scss */
.move-right .top-bar {
  opacity: 0.75;
  -ms-transform: translate(320px, 0);
  -webkit-transform: translate3d(320px, 0, 0);
  -moz-transform: translate3d(320px, 0, 0);
  -ms-transform: translate3d(320px, 0, 0);
  -o-transform: translate3d(320px, 0, 0);
  transform: translate3d(320px, 0, 0);
}
