/* line 24, ../../scss/base/_init.scss */
.rounded {
  border-radius: 4px;
}

/* line 28, ../../scss/base/_init.scss */
img.right {
  float: right;
  padding-left: 15px;
}

/* line 33, ../../scss/base/_init.scss */
.color-top {
  width: 100%;
  height: 5px;
  background: #ea5739;
  background: linear-gradient(90deg, #ea5739 0%, #f8a32d 100%);
  position: absolute;
  top: 0px;
}

/* line 42, ../../scss/base/_init.scss */
.color-bottom {
  width: 100%;
  height: 5px;
  background: #ea5739;
  background: linear-gradient(90deg, #ea5739 0%, #f8a32d 100%);
  position: absolute;
  bottom: 0px;
}

/* line 51, ../../scss/base/_init.scss */
p.tip {
  border-left: 4px solid #ea5739;
  padding: 20px 30px;
  background: #fde4c1;
  font-style: italic;
  border-radius: 4px;
  margin: 50px 0px !important;
}

/* line 60, ../../scss/base/_init.scss */
.large-blog-img-right {
  max-width: 300px;
}

/* line 64, ../../scss/base/_init.scss */
p,
h1,
h2,
h3,
h4,
h5,
body {
  font-family: 'Roboto', sans-serif !important;
}

/* Above Small */
@media screen and (min-width: 641px) {
  /* line 76, ../../scss/base/_init.scss */
  .row.l-main,
  .cinder-container {
    max-width: 70% !important;
    margin-left: auto;
    margin-right: auto;
  }
}
/* Small */
@media screen and (max-width: 640px) {
  /* line 86, ../../scss/base/_init.scss */
  .row.l-main,
  .cinder-container {
    padding-top: 0px;
    padding-left: 15px;
    padding-right: 15px;
    width: 100% !important;
  }

  /* line 94, ../../scss/base/_init.scss */
  .main.columns {
    padding: 0px;
  }
}
/* Medium */
/* Large */
@media screen and (min-width: 1025px) {
  /* line 106, ../../scss/base/_init.scss */
  .large-right {
    float: right;
  }

  /* line 110, ../../scss/base/_init.scss */
  .large-blog-img-right {
    margin-left: 50px;
    margin-top: -40px;
  }
}
/* line 4, ../../scss/components/page.scss */
.off-canvas-wrap.move-right .exit-off-canvas {
  opacity: 1;
}

/* line 9, ../../scss/components/page.scss */
.exit-off-canvas.page {
  opacity: 0;
  box-shadow: none !important;
  background-color: rgba(0, 0, 0, 0.75) !important;
  -webkit-transition: all 0.5s ease-in-out !important;
  transition: all 0.5s ease-in-out !important;
}

/* Page Entity */
/* line 19, ../../scss/components/page.scss */
.node-type-page .banner-outer-wrapper {
  position: relative;
}
/* line 22, ../../scss/components/page.scss */
.node-type-page .banner-outer-wrapper ul.breadcrumbs {
  background-color: transparent;
  border: none;
  margin-top: 1.25rem;
}
/* line 28, ../../scss/components/page.scss */
.node-type-page .banner-outer-wrapper #cinder-banner-image {
  position: relative;
}
/* line 31, ../../scss/components/page.scss */
.node-type-page .banner-outer-wrapper #cinder-banner-image .banner-wrapper {
  position: relative;
}
/* line 34, ../../scss/components/page.scss */
.node-type-page .banner-outer-wrapper #cinder-banner-image .banner-wrapper img {
  width: 100%;
}
/* line 38, ../../scss/components/page.scss */
.node-type-page .banner-outer-wrapper #cinder-banner-image .banner-wrapper .banner-text-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
/* line 45, ../../scss/components/page.scss */
.node-type-page .banner-outer-wrapper #cinder-banner-image .banner-wrapper .banner-text-wrapper .title-prefix {
  color: #fff;
  text-align: center;
  font-size: 1.4em;
}
/* line 51, ../../scss/components/page.scss */
.node-type-page .banner-outer-wrapper #cinder-banner-image .banner-wrapper .banner-text-wrapper h1 {
  color: #fff;
  text-align: center;
}
/* line 58, ../../scss/components/page.scss */
.node-type-page .banner-outer-wrapper #cinder-banner-image .banner-color-overlay {
  width: 100vw;
  position: absolute;
  top: 0px;
  height: 100%;
  opacity: 0.6;
  background-color: #1c1818;
}
/* line 69, ../../scss/components/page.scss */
.node-type-page main.l-main {
  padding-top: 0px;
}

/* line 74, ../../scss/components/page.scss */
.section-wrapper {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}
/* line 82, ../../scss/components/page.scss */
.section-wrapper.no-padding-top {
  padding-top: 0px !important;
}
/* line 86, ../../scss/components/page.scss */
.section-wrapper .who-we-are {
  background-color: #fff;
}
/* line 89, ../../scss/components/page.scss */
.section-wrapper .who-we-are:after {
  content: '';
  width: 100%;
  height: 300px;
  background-color: #fff;
  position: absolute;
  left: 0px;
  transform: skewY(-10deg);
  transform-origin: top left;
  z-index: -1;
}
/* line 101, ../../scss/components/page.scss */
.section-wrapper .who-we-are .inner-wrapper {
  margin: auto;
}
/* line 106, ../../scss/components/page.scss */
.section-wrapper h2 {
  font-size: 3em;
  margin-bottom: 25px;
}
/* line 111, ../../scss/components/page.scss */
.section-wrapper .our-philosophy {
  overflow: hidden;
}
/* line 114, ../../scss/components/page.scss */
.section-wrapper .our-philosophy .section-overlay {
  width: 100vw;
  height: 100%;
  opacity: 0.8;
  background-color: #0b354d;
  position: absolute;
  top: 0px;
  z-index: -2;
}
/* line 124, ../../scss/components/page.scss */
.section-wrapper .our-philosophy .section-image {
  width: 100vw;
  height: 100%;
  background-attachment: fixed;
  background-size: cover;
  background-position: 50% 50%;
  position: absolute;
  top: 0px;
  z-index: -2;
}
/* line 135, ../../scss/components/page.scss */
.section-wrapper .our-philosophy .inner-wrapper {
  margin: auto;
  padding-top: 0px !important;
}
/* line 139, ../../scss/components/page.scss */
.section-wrapper .our-philosophy .inner-wrapper h2 {
  color: #fff;
}
/* line 143, ../../scss/components/page.scss */
.section-wrapper .our-philosophy .inner-wrapper i {
  position: relative;
  padding: 0.5em 1em;
  font-family: 'Roboto', serif;
  font-weight: 100;
}
/* line 148, ../../scss/components/page.scss */
.section-wrapper .our-philosophy .inner-wrapper i:before {
  content: open-quote;
  display: inline;
  line-height: 0;
  left: -25px;
  position: relative;
  top: 40px;
  color: #fff;
  font-size: 5em;
}
/* line 160, ../../scss/components/page.scss */
.section-wrapper .our-philosophy .inner-wrapper p {
  color: #fff;
  margin-bottom: 25px;
}

/* Large */
@media screen and (min-width: 1025px) {
  /* line 172, ../../scss/components/page.scss */
  .node-type-page .banner-outer-wrapper ul.breadcrumbs {
    position: absolute;
    padding: 15px;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 0px;
  }
  /* line 181, ../../scss/components/page.scss */
  .node-type-page .banner-outer-wrapper ul.breadcrumbs li a {
    color: #fff;
  }
  /* line 190, ../../scss/components/page.scss */
  .node-type-page .banner-outer-wrapper #cinder-banner-image .banner-wrapper .banner-text-wrapper h1 {
    font-size: 2.65em;
  }
  /* line 198, ../../scss/components/page.scss */
  .node-type-page .section-wrapper {
    padding: 60px 0px;
  }
  /* line 200, ../../scss/components/page.scss */
  .node-type-page .section-wrapper .who-we-are:after {
    bottom: -200px;
  }
  /* line 204, ../../scss/components/page.scss */
  .node-type-page .section-wrapper .who-we-are .image {
    max-width: 350px;
    top: -20px;
    transform: translateX(15%);
    position: absolute;
  }
  /* line 212, ../../scss/components/page.scss */
  .node-type-page .section-wrapper .vision-and-values {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  /* line 217, ../../scss/components/page.scss */
  .node-type-page .section-wrapper .inner-wrapper {
    margin: auto;
    padding-top: 120px;
  }
  /* line 224, ../../scss/components/page.scss */
  .node-type-page .section-wrapper .our-philosophy {
    padding: 120px 0px;
  }
  /* line 227, ../../scss/components/page.scss */
  .node-type-page .section-wrapper .our-philosophy .section-image {
    background-image: url(/sites/all/themes/cinder/images/woman-holding-tablet-computer.jpg);
  }
  /* line 232, ../../scss/components/page.scss */
  .node-type-page .section-wrapper .about-the-owner {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  /* line 238, ../../scss/components/page.scss */
  .node-type-page .l-main {
    padding-top: 45px;
  }
}
/* Medium */
@media screen and (min-width: 641px) and (max-width: 1024px) {
  /* line 248, ../../scss/components/page.scss */
  .node-type-page .banner-outer-wrapper ul.breadcrumbs {
    position: absolute;
    padding: 15px;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 0px;
  }
  /* line 257, ../../scss/components/page.scss */
  .node-type-page .banner-outer-wrapper ul.breadcrumbs li a {
    color: #fff;
  }
  /* line 265, ../../scss/components/page.scss */
  .node-type-page .banner-outer-wrapper #cinder-banner-image .banner-wrapper .banner-text-wrapper {
    width: 80%;
  }
  /* line 268, ../../scss/components/page.scss */
  .node-type-page .banner-outer-wrapper #cinder-banner-image .banner-wrapper .banner-text-wrapper h1 {
    font-size: 2.2em;
  }
  /* line 276, ../../scss/components/page.scss */
  .node-type-page .l-main {
    padding-top: 45px;
  }

  /* line 281, ../../scss/components/page.scss */
  .section-wrapper {
    padding: 40px 0px;
  }
  /* line 283, ../../scss/components/page.scss */
  .section-wrapper .who-we-are:after {
    bottom: -125px;
  }
  /* line 287, ../../scss/components/page.scss */
  .section-wrapper .who-we-are .image {
    max-width: 300px;
    transform: translate(15%, 15%);
    position: absolute;
  }
  /* line 294, ../../scss/components/page.scss */
  .section-wrapper .vision-and-values {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  /* line 299, ../../scss/components/page.scss */
  .section-wrapper .inner-wrapper {
    padding-top: 80px;
  }
  /* line 305, ../../scss/components/page.scss */
  .section-wrapper .our-philosophy {
    padding: 120px 0px;
  }
  /* line 308, ../../scss/components/page.scss */
  .section-wrapper .our-philosophy .section-image {
    background-image: url(/sites/all/themes/cinder/images/woman-holding-tablet-computer.jpg);
  }
  /* line 313, ../../scss/components/page.scss */
  .section-wrapper .about-the-owner {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
/* Small */
@media screen and (max-width: 640px) {
  /* line 326, ../../scss/components/page.scss */
  .banner-outer-wrapper #cinder-banner-image .banner-wrapper .banner-text-wrapper {
    width: 90%;
  }
  /* line 329, ../../scss/components/page.scss */
  .banner-outer-wrapper #cinder-banner-image .banner-wrapper .banner-text-wrapper h1 {
    font-size: 2em;
  }
  /* line 336, ../../scss/components/page.scss */
  .banner-outer-wrapper ul.breadcrumbs {
    z-index: 1;
    width: 100%;
  }

  /* line 343, ../../scss/components/page.scss */
  .node-type-page .section-wrapper {
    padding: 30px 0px;
  }
  /* line 346, ../../scss/components/page.scss */
  .node-type-page .section-wrapper .inner-wrapper {
    padding-top: 60px;
  }
  /* line 351, ../../scss/components/page.scss */
  .node-type-page .section-wrapper .who-we-are:after {
    bottom: -100px;
  }
  /* line 355, ../../scss/components/page.scss */
  .node-type-page .section-wrapper .who-we-are h2 {
    text-align: center;
  }
  /* line 359, ../../scss/components/page.scss */
  .node-type-page .section-wrapper .who-we-are .image {
    max-width: 300px;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    margin-top: 60px;
  }
  /* line 368, ../../scss/components/page.scss */
  .node-type-page .section-wrapper .vision-and-values {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  /* line 372, ../../scss/components/page.scss */
  .node-type-page .section-wrapper .vision-and-values h2 {
    text-align: center;
  }
  /* line 376, ../../scss/components/page.scss */
  .node-type-page .section-wrapper .vision-and-values .image {
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    display: inline-block;
    padding-bottom: 30px;
  }
  /* line 385, ../../scss/components/page.scss */
  .node-type-page .section-wrapper .our-philosophy {
    padding: 100px 0px;
  }
  /* line 388, ../../scss/components/page.scss */
  .node-type-page .section-wrapper .our-philosophy .section-image {
    background-image: url(/sites/all/themes/cinder/images/woman-holding-tablet-computer-mobile.jpg);
  }
  /* line 393, ../../scss/components/page.scss */
  .node-type-page .section-wrapper .about-the-owner {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  /* line 397, ../../scss/components/page.scss */
  .node-type-page .section-wrapper .about-the-owner img {
    max-width: 200px;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
  }
  /* line 404, ../../scss/components/page.scss */
  .node-type-page .section-wrapper .about-the-owner h2 {
    margin: 15px 0px 15px 0px;
    text-align: center;
  }
  /* line 411, ../../scss/components/page.scss */
  .node-type-page .l-main {
    padding-top: 0px;
  }
}
