/* SEO Analysis */
/* line 3, ../../scss/components/seo_analysis.scss */
.page-free-seo-analysis-tool .pane-cinder-seo-cinder-seo-search-form {
  padding: 75px 0px 120px 0px;
  margin-bottom: 15px;
}
/* line 7, ../../scss/components/seo_analysis.scss */
.page-free-seo-analysis-tool .pane-cinder-seo-cinder-seo-search-form h1 {
  color: #fff;
  text-align: center;
  margin-bottom: 15px;
}
/* line 13, ../../scss/components/seo_analysis.scss */
.page-free-seo-analysis-tool .pane-cinder-seo-cinder-seo-search-form form {
  overflow: hidden;
  text-align: center;
}
/* line 17, ../../scss/components/seo_analysis.scss */
.page-free-seo-analysis-tool .pane-cinder-seo-cinder-seo-search-form form .search-text {
  color: #fff;
  margin-bottom: 30px;
  font-size: 1.2em;
}
/* line 23, ../../scss/components/seo_analysis.scss */
.page-free-seo-analysis-tool .pane-cinder-seo-cinder-seo-search-form form #cinder-form-inner {
  overflow: hidden;
  display: inline-block;
}
/* line 27, ../../scss/components/seo_analysis.scss */
.page-free-seo-analysis-tool .pane-cinder-seo-cinder-seo-search-form form #cinder-form-inner .form-item {
  margin: 0px;
  float: left;
  display: inline-block;
}
/* line 32, ../../scss/components/seo_analysis.scss */
.page-free-seo-analysis-tool .pane-cinder-seo-cinder-seo-search-form form #cinder-form-inner .form-item label {
  display: none;
}
/* line 35, ../../scss/components/seo_analysis.scss */
.page-free-seo-analysis-tool .pane-cinder-seo-cinder-seo-search-form form #cinder-form-inner .form-item label .form-required {
  display: none;
}
/* line 40, ../../scss/components/seo_analysis.scss */
.page-free-seo-analysis-tool .pane-cinder-seo-cinder-seo-search-form form #cinder-form-inner .form-item input {
  margin: 0px;
  border: none;
  height: 50px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  max-width: 500px;
  font-size: 1.4em;
  padding-left: 15px;
  padding-right: 15px;
}
/* line 54, ../../scss/components/seo_analysis.scss */
.page-free-seo-analysis-tool .pane-cinder-seo-cinder-seo-search-form form #edit-submit-button {
  float: left;
  margin: 0px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
/* line 61, ../../scss/components/seo_analysis.scss */
.page-free-seo-analysis-tool .pane-cinder-seo-cinder-seo-search-form form .form-background {
  background: #3b7ca2;
  background: radial-gradient(circle, #3b7ca2 0%, #0b354d 70%);
  width: 100vw;
  height: 100%;
  position: absolute;
  margin-left: -50vw;
  left: 50%;
  top: 0px;
  z-index: -1;
  overflow: hidden;
}
/* line 77, ../../scss/components/seo_analysis.scss */
.page-free-seo-analysis-tool .pane-page-breadcrumb .breadcrumbs {
  background: transparent;
  border: none;
}
/* line 83, ../../scss/components/seo_analysis.scss */
.page-free-seo-analysis-tool .pane-cinder-seo-cinder-seo-results {
  background-color: #fff;
  padding: 15px;
  border-top: 4px solid #3b7ca2;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  margin-top: 15px;
}
/* line 92, ../../scss/components/seo_analysis.scss */
.page-free-seo-analysis-tool .pane-cinder-seo-cinder-seo-results .tabs-wrapper ul {
  margin: 0px;
  width: 100%;
}
/* line 96, ../../scss/components/seo_analysis.scss */
.page-free-seo-analysis-tool .pane-cinder-seo-cinder-seo-results .tabs-wrapper ul li {
  display: inline-block;
  margin-right: 5px;
}
/* line 100, ../../scss/components/seo_analysis.scss */
.page-free-seo-analysis-tool .pane-cinder-seo-cinder-seo-results .tabs-wrapper ul li a {
  width: unset;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom: 0px;
}
/* line 106, ../../scss/components/seo_analysis.scss */
.page-free-seo-analysis-tool .pane-cinder-seo-cinder-seo-results .tabs-wrapper ul li a:not(.active) {
  border-left: 1px solid #eee;
  border-top: 1px solid #eee;
  border-right: 1px solid #eee;
}
/* line 117, ../../scss/components/seo_analysis.scss */
.page-free-seo-analysis-tool .pane-cinder-seo-cinder-seo-results .cinder-seo-section .inner-wrapper {
  position: relative;
  padding: 15px;
  border: 1px solid #eee;
}
/* line 122, ../../scss/components/seo_analysis.scss */
.page-free-seo-analysis-tool .pane-cinder-seo-cinder-seo-results .cinder-seo-section .inner-wrapper h3 {
  font-size: 2em;
  border-bottom: 1px solid #eee;
  margin-bottom: 15px;
  padding-bottom: 8px;
}
/* line 129, ../../scss/components/seo_analysis.scss */
.page-free-seo-analysis-tool .pane-cinder-seo-cinder-seo-results .cinder-seo-section .inner-wrapper .content {
  margin-top: 30px;
  margin-bottom: 30px;
}
/* line 134, ../../scss/components/seo_analysis.scss */
.page-free-seo-analysis-tool .pane-cinder-seo-cinder-seo-results .cinder-seo-section .inner-wrapper .content .field .field-label {
  display: inline-block;
}
/* line 138, ../../scss/components/seo_analysis.scss */
.page-free-seo-analysis-tool .pane-cinder-seo-cinder-seo-results .cinder-seo-section .inner-wrapper .content .field .field-value {
  display: inline-block;
}
/* line 143, ../../scss/components/seo_analysis.scss */
.page-free-seo-analysis-tool .pane-cinder-seo-cinder-seo-results .cinder-seo-section .inner-wrapper .content .field .progress .score-text {
  position: absolute;
  left: 50%;
}
/* line 150, ../../scss/components/seo_analysis.scss */
.page-free-seo-analysis-tool .pane-cinder-seo-cinder-seo-results .cinder-seo-section .inner-wrapper .content .cinder-score-section {
  text-align: center;
}
/* line 153, ../../scss/components/seo_analysis.scss */
.page-free-seo-analysis-tool .pane-cinder-seo-cinder-seo-results .cinder-seo-section .inner-wrapper .content .cinder-score-section .number {
  position: absolute;
  font-size: 3rem;
  top: 26%;
  left: 50%;
  transform: translateX(-50%);
}
/* line 161, ../../scss/components/seo_analysis.scss */
.page-free-seo-analysis-tool .pane-cinder-seo-cinder-seo-results .cinder-seo-section .inner-wrapper .content .cinder-score-section .number.live:after {
  content: '%';
}
/* line 168, ../../scss/components/seo_analysis.scss */
.page-free-seo-analysis-tool .pane-cinder-seo-cinder-seo-results .cinder-seo-section .inner-wrapper .content .cinder-score-section .gauge-label .fa {
  display: block;
  font-size: 1.8rem;
}
/* line 173, ../../scss/components/seo_analysis.scss */
.page-free-seo-analysis-tool .pane-cinder-seo-cinder-seo-results .cinder-seo-section .inner-wrapper .content .cinder-score-section .gauge-label .label-text {
  font-size: 1.2rem;
  color: #4d4d4d;
}
/* line 180, ../../scss/components/seo_analysis.scss */
.page-free-seo-analysis-tool .pane-cinder-seo-cinder-seo-results .cinder-seo-section .inner-wrapper .content .monitor-wrapper {
  margin: auto;
  padding: 10px 24px 60px 19px;
  background: url(/sites/all/modules/custom/cinder_seo/images/monitor-transparent.png) no-repeat;
  background-size: contain;
  width: 250px;
  height: 200px;
}
/* line 188, ../../scss/components/seo_analysis.scss */
.page-free-seo-analysis-tool .pane-cinder-seo-cinder-seo-results .cinder-seo-section .inner-wrapper .content .monitor-wrapper img {
  width: 100%;
  height: 100%;
}
/* line 194, ../../scss/components/seo_analysis.scss */
.page-free-seo-analysis-tool .pane-cinder-seo-cinder-seo-results .cinder-seo-section .inner-wrapper .content .section-score {
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 2em;
}
/* line 205, ../../scss/components/seo_analysis.scss */
.page-free-seo-analysis-tool .pane-cinder-seo-cinder-seo-results .cinder-seo-section .inner-wrapper .content .numeric-result {
  position: relative;
  margin: 15px 0px;
  padding: 0px 15px 15px 15px;
  border-bottom: 1px dotted grey;
}
/* line 211, ../../scss/components/seo_analysis.scss */
.page-free-seo-analysis-tool .pane-cinder-seo-cinder-seo-results .cinder-seo-section .inner-wrapper .content .numeric-result .field-data {
  position: absolute;
  top: 5px;
  right: 15px;
  font-size: 0.8em;
}
/* line 218, ../../scss/components/seo_analysis.scss */
.page-free-seo-analysis-tool .pane-cinder-seo-cinder-seo-results .cinder-seo-section .inner-wrapper .content .numeric-result .progress {
  position: relative;
}
/* line 221, ../../scss/components/seo_analysis.scss */
.page-free-seo-analysis-tool .pane-cinder-seo-cinder-seo-results .cinder-seo-section .inner-wrapper .content .numeric-result .progress .score-text {
  left: 50%;
  top: 0px;
  position: absolute;
}
/* line 229, ../../scss/components/seo_analysis.scss */
.page-free-seo-analysis-tool .pane-cinder-seo-cinder-seo-results .cinder-seo-section .inner-wrapper .content .field-label {
  font-size: 1.2em;
}
/* line 233, ../../scss/components/seo_analysis.scss */
.page-free-seo-analysis-tool .pane-cinder-seo-cinder-seo-results .cinder-seo-section .inner-wrapper .content .field-label.pass:before {
  content: '\2713';
  color: #43AC6A;
}
/* line 240, ../../scss/components/seo_analysis.scss */
.page-free-seo-analysis-tool .pane-cinder-seo-cinder-seo-results .cinder-seo-section .inner-wrapper .content .field-label.fail:before {
  content: '\2716';
  color: #ea5739;
}
/* line 247, ../../scss/components/seo_analysis.scss */
.page-free-seo-analysis-tool .pane-cinder-seo-cinder-seo-results .cinder-seo-section .inner-wrapper .content .field-description {
  color: #999;
  font-size: 0.8em;
  font-style: italic;
  margin-left: 18px;
}
/* line 256, ../../scss/components/seo_analysis.scss */
.page-free-seo-analysis-tool .pane-cinder-seo-cinder-seo-results .cinder-seo-section .inner-wrapper .overview-gauge-wrapper .column {
  text-align: center;
}
/* line 259, ../../scss/components/seo_analysis.scss */
.page-free-seo-analysis-tool .pane-cinder-seo-cinder-seo-results .cinder-seo-section .inner-wrapper .overview-gauge-wrapper .column .number {
  position: absolute;
  top: 32px;
  left: 50%;
  transform: translateX(-50%);
}
/* line 266, ../../scss/components/seo_analysis.scss */
.page-free-seo-analysis-tool .pane-cinder-seo-cinder-seo-results .cinder-seo-section .inner-wrapper .overview-gauge-wrapper .column .number.live:after {
  content: '%';
}
/* line 273, ../../scss/components/seo_analysis.scss */
.page-free-seo-analysis-tool .pane-cinder-seo-cinder-seo-results .cinder-seo-section .inner-wrapper .overview-gauge-wrapper .column .gauge-label .fa {
  display: block;
  font-size: 1.8rem;
}
/* line 278, ../../scss/components/seo_analysis.scss */
.page-free-seo-analysis-tool .pane-cinder-seo-cinder-seo-results .cinder-seo-section .inner-wrapper .overview-gauge-wrapper .column .gauge-label .label-text {
  font-size: 0.875rem;
  color: #4d4d4d;
}
/* line 289, ../../scss/components/seo_analysis.scss */
.page-free-seo-analysis-tool .cinder-share {
  margin-top: 30px;
  border-top: 4px solid #3b7ca2;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}

/* line 299, ../../scss/components/seo_analysis.scss */
.page-batch #cinder-batch-api-wrapper {
  margin: 120px 0px 70px 0px;
  padding: 15px;
  background-color: #fff;
  border-top: 4px solid #3b7ca2;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  overflow: hidden;
  min-height: 200px;
}
/* line 309, ../../scss/components/seo_analysis.scss */
.page-batch #cinder-batch-api-wrapper #progress {
  overflow: hidden;
  height: 80px;
}
/* line 313, ../../scss/components/seo_analysis.scss */
.page-batch #cinder-batch-api-wrapper #progress .progress {
  background-color: #fff;
}
/* line 316, ../../scss/components/seo_analysis.scss */
.page-batch #cinder-batch-api-wrapper #progress .progress .message {
  overflow: hidden;
}
