// Common abstract classes to extend or parametrics are stored here.

// Example parametrics.
// ------------------------------------------------------
// %font-FONTNAME   {}
// %font-sans-serif { font-family: sans-serif; }
// %font-serif      { font-family: serif; }

img {
	&.circle {
		border-radius: 50%;
	}
}

button {
	border-radius: 4px;
}

article {
	&.node-page {
		a:not(.white) {
			position: relative;
			color: #222;
			font-weight: bold;
			font-size: 1.1em;
			z-index: 1;

			&:before{
				transition: width .1s ease-out;
				content: "";
				width: 100%;
				height: 100%;
				background-image: linear-gradient(to top, rgba(248,163,45,1) 25%, rgba(0, 0, 0, 0) 40%);
				
				position: absolute;
				left: 0;
				bottom: -5px;
				z-index: -1;
				
				will-change: width;
				transform: rotate(-2deg);
				transform-origin: left bottom
			}

			&:hover {
				color: #222;

				&:before{
					transition-duration: .15s;
					width: 0;
				}
			}
		}

		a.white {
			position: relative;
			color: #fff;
			font-weight: bold;
			font-size: 1.1em;
			text-shadow: 2px 2px #273b4a;

			&:before{
				transition: width .1s ease-out;
				content: "";
				width: 100%;
				height: 100%;
				background-image: linear-gradient(to top, rgba(248,163,45,1) 25%, rgba(0, 0, 0, 0) 40%);
				
				position: absolute;
				left: 0;
				bottom: -5px;
				z-index: -1;
				
				will-change: width;
				transform: rotate(-2deg);
				transform-origin: left bottom
			}

			&:hover {
				color: #fff;

				&:before{
					transition-duration: .15s;
					width: 0;
				}
			}
		}
	}
}

.cinder-share {
	background-color: #fff;
	padding: 120px 0px;

	h2 {
		margin-bottom: 25px;
	    text-align: center;
	    font-weight: bold;
	}

	table{
		margin: auto;
		margin-bottom: 0px;
		border: none;
	}
}
