@import "../../zurb_foundation/scss/foundation/functions";

$primary-color: rgba(234,87,57,1);
$secondary-color: rgba(248,163,45,1);

$body-bg: #f7f7f7;
$body-bg-banner: transparent;

// Custom
$border-color: #e6eaea;
$border-color-banner: transparent;
$nav_hover_bg: #fff;
$text_color: #333;
$text-color-banner: #fff;
$shadow-color: #CCC;

// Breakpoints
$small: 0px;
$medium: 640px;
$large: 1024px;
$xlarge: 1200px;
$xxlarge: 1440px;

.rounded {
	border-radius: 4px;
}

img.right {
	float: right;
	padding-left: 15px;
}

.color-top {
	width: 100%;
	height: 5px;
	background: rgb(234,87,57);
	background: linear-gradient(90deg, rgba(234,87,57,1) 0%, rgba(248,163,45,1) 100%);
	position: absolute;
	top: 0px;
}

.color-bottom {
	width: 100%;
	height: 5px;
	background: rgb(234,87,57);
	background: linear-gradient(90deg, rgba(234,87,57,1) 0%, rgba(248,163,45,1) 100%);
	position: absolute;
	bottom: 0px;
}

p.tip {
	border-left: 4px solid #ea5739;
    padding: 20px 30px;
    background: lighten(#f8a32d, 30%);
    font-style: italic;
    border-radius: 4px;
    margin: 50px 0px !important;
}

.large-blog-img-right {
	max-width: 300px;
}

p,
h1,
h2,
h3,
h4,
h5,
body {
	font-family: 'Roboto', sans-serif !important;
}

/* Above Small */
@media screen and (min-width: 641px) {
	.row.l-main,
	.cinder-container {
		max-width: 70% !important;
		margin-left: auto;
		margin-right: auto;
	}
}

/* Small */
@media screen and (max-width: 640px) {
	.row.l-main,
	.cinder-container {
		padding-top: 0px;
		padding-left: 15px;
		padding-right: 15px;
		width: 100% !important;
	}

	.main.columns {
		padding: 0px;
	}
}

/* Medium */
@media screen and (min-width: 641px) and (max-width: 1024px) {

}

/* Large */
@media screen and (min-width: 1025px) {
	.large-right {
		float: right;
	}

	.large-blog-img-right {
	    margin-left: 50px;
	    margin-top: -40px;
	}
}
