/* Blog Pages (View) */
.node-type-blog {
	#blog-header {
		background-color: #0b354d;
		position: relative;

		img {
			width: 100%;
		}

		.banner-color-overlay {
			width: 100vw;
		    position: absolute;
		    top: 0px;
		    height: 100%;
		    opacity: 0.6;
		    background-color: #0b354d;
		}

		.title-wrapper {
			position: absolute;
		    top: 50%;
		    left: 50%;
		    transform: translate(-50%, -50%);
		    z-index: 1;

		    .title-prefix {
		    	text-align: center;
		    	color: #fff;
		    }

		    h1 {
				color: #fff;
				text-align: center;
			}
		}
	}

	.inner-wrap {
		.banner-outer-wrapper {
    			margin-top: 20px;

    		.breadcrumbs {
    			background-color: transparent;
    			border: none;
    			margin-bottom: 0px;
    		}
		}
	}

	article.node-blog {
		margin-bottom: 50px;

		.posted {
			padding-top: 15px;
			padding-bottom: 15px;
			margin-top: 15px;
			margin-bottom: 30px;
			width: 100%;
			border-top: 1px solid #cccccc;
			border-bottom: 1px solid #cccccc;

			.user-picture {
				display: table-cell;

				img {
					border-radius: 50%;
				}
			}

			.user-info {
				vertical-align: top;
				padding-left: 20px;
				display: table-cell;

				.user-full-name {
					font-weight: 700;
    				font-size: 1.4em;
				}

				.user-title-line {
					letter-spacing: 0.05em;
					font-style: italic;
    				color: #808080;
    				font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    				font-weight: 200;
    				margin-bottom: 15px;
				}

				.user-social {
					img {
						max-width: 30px;
					    -webkit-filter: grayscale(100%);
					    filter: grayscale(100%);

					    &:hover {
					    	-webkit-filter: grayscale(0%);
					    	filter: grayscale(0%);
					    }
					}
				}
			}
		}

		.date-and-time {
			margin-bottom: 30px;
			color: #808080;
			font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
			font-weight: 200;

			.read-time {
				margin-left: 50px;
			}
		}

		p {
			font-weight: 100;
		    font-size: 1.2em;
		    margin: 20px 0px;
		}

		ul {
			font-weight: 100;
		    font-size: 1em;
		    margin: 15px 30px;
		}

		blockquote {
			margin: 20px;
			padding-bottom: 9px;
		}

		blockquote p {
			margin: 0px;
		}

		h2 {
			margin-top: 30px;
			margin-bottom: 10px;
			font-size: 1.9em;
	    	font-weight: 300;
		}

		h3 {
			font-size: 1.6em;
	    	margin-top: 30px;
		}

		#disqus_thread {
			margin-top: 50px;
		}
	}
}

/* Large */
@media screen and (min-width: 1025px) {
	.node-type-blog {
		.breadcrumbs,
		ul.button-group,
		article.node-blog {
			margin-left: 100px;
			margin-right: 100px;
		}
	}
}

/* Medium */
@media screen and (min-width: 641px) and (max-width: 1024px) {
	article.node-blog {
		margin-left: 60px;
		margin-right: 60px;
	}
}

/* Small */
@media screen and (max-width: 640px) {
	article.node-blog {
		margin-left: 0px;
		margin-right: 0px;

		.posted {
			.user-picture {
				display: block !important;
				text-align: center;
			}

			.user-info {
				text-align: center;
				padding: 5px 15px !important;
				display: block !important;
			}
		}
	}
}
