/* Field Collections */
.field-collection-view {
	padding: 0px;
	margin: 0px 0px 15px 0px;
	border: none;

	.entity-field-collection-item {
		border-top: 4px solid #ea5739;
		border-bottom: 1px solid #eee;
		border-left: 1px solid #eee;
		border-right: 1px solid #eee;
		border-radius: 4px;
		padding: 15px;

		&.field-collection-item-field-experience {
			.field-name-field-company {
				font-size: 1.5em;
    			font-weight: 600;
			}

			.field-name-field-project {
				font-weight: 600;
			}

			.date-display-range {
				.date-display-start,
				.date-display-end {
					font-weight: 600;
				}
			}

			.field-name-field-role {
				font-weight: 600;
			}

			.field-name-field-description {
				margin-top: 15px;
			}

			.field-name-field-tasks {
				margin-top: 15px;
			}

			.field-name-field-technology {
				margin-top: 15px;
			}
		}
	}
}
