/* Footer */

.cinder-systems-logo {
	text-align: center;
	margin: auto;
	margin-top: 75px;
	margin-bottom: 15px;
	background-color: #f7f7f7;
	transition: all 0.5s;

	&:hover {
		transform: scale(1.1);
	}

	img {
		mix-blend-mode: multiply;
		will-change: opacity;
		max-width: 200px;
	}
}

footer.l-footer {
	margin-bottom: 0px;
	background-color: #292929;
	border: none;
	position: relative;
	overflow: auto;

	.cinder-container {
		margin-bottom: 60px;

		.footer-1 {
			text-align: center;
		}
	}

	.block-title {
		color: #fff;
		margin-bottom: 1em;
	}

	ul {
		list-style: none;
		margin-left: 0px;

		li {
			padding: 0.25em 0px;

			a {
				color: #8a9ca7;
			}
		}
	}

	.copyright {
		text-align: center;
		color: #fff;
		padding: 10px;
	}
}

/* Large */
@media screen and (min-width: 1025px) {
	footer.l-footer {
		padding: 120px 0px 0px 0px;

		.cinder-container {
			.footer-1 {
				img {
					max-width: 100px;
				}
			}
		}

		.block-title {
			font-size: 1em;
		}
	}
}

/* Medium */
@media screen and (min-width: 641px) and (max-width: 1024px) {
	footer.l-footer {
		padding: 100px 0px 0px 0px;

		.cinder-container {
			.footer-1 {
				img {
					max-width: 80px;
				}
			}
		}

		.block-title {
			font-size: 1.1em;
		}
	}
}

/* Small */
@media screen and (max-width: 640px) {
	footer.l-footer {
		padding: 60px 0px 0px 0px;

		.cinder-container {
			.footer-1 {
				img {
					max-width: 50px;
					margin-bottom: 30px;
				}
			}

			.columns {
				text-align: center;
			}
		}

		.block-title {
			font-size: 1.2em;
		}
	}
}
