@import "base/init";

.pane-cinder-blocks-technology-icon-banner {
	width: 100vw;
    position: relative;
    margin-left: -50vw;
    left: 50%;

	&:before {
		content: "Services";
		position: absolute;
		font-size: 28em;
		color: lighten(#0b354d, 1%);
		bottom: 100px;
		font-weight: bold;
		width: 100%;
		transform: skewY(-5deg);
		line-height: 100px;
	}

	.pane-content {
		padding-top: 100px;
		padding-bottom: 70px;
		margin-top: 150px;
	    background-color: #0b354d;

	    &:before {
	    	content: '';
	    	display: block;
	    	-webkit-clip-path: polygon(100% 0%,0% 100%, 100% 100%);
	    	clip-path: polygon(100% 0%,0% 100%, 100% 100%);
	    	height: 100px;
	    	width: 100%;
	    	background: #0b354d;
	    	top: -99px;
	    	position: absolute;
	    	z-index: -1;
	    }

	    &:after {
	    	content: '';
	    	display: block;
	    	-webkit-clip-path: polygon(0 0,0 100%,100% 0);
	    	clip-path: polygon(0 0,0 100%,100% 0);
	    	height: 100px;
	    	width: 100%;
	    	background: #0b354d;
	    	bottom: -99px;
	    	position: absolute;
	    	z-index: -1;
	    }

		.services-banner {
			.tech-wrapper {
				.before-title {
					color: #fff;
					font-size: 1.2em;
				}

				.title {
					margin-bottom: 50px;

					h2 {
						font-size: 3em;
						line-height: 50px;
						color: #fff;
					}
				}

				.services-banner-wrapper {
					padding-top: 15px;
					.columns {
						text-align: center;
						margin-bottom: 30px;

						img {
							transition: all 0.5s;
							max-width: 100px;

							&:hover {
								transform: scale(1.05);
							}
						}

						.service-label {
							color: $primary-color;
							font-weight: bold;
							font-size: 1.2em;
							margin-top: 15px;
							text-align: center;
						}

						.blurb {
							color: #fff;
						}
					}
				}
			}
		}
	}
}

.pane-cinder-blocks-homepage-image-left,
.pane-cinder-blocks-homepage-image-right-2 {
	padding-top: 150px;
	padding-bottom: 150px;
	display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;

	.homepage-block {
		img {
			width: 100%;
			transition: all 0.5s;

			&:hover {
				transform: scale(1.05);
				opacity: 0.2;
			}
		}

		.title {
			margin-bottom: 24px;

			h2 {
				font-size: 2.5em;
				line-height: 50px;
			}
		}

		.text {
			line-height: 24px;

			button {
				margin-bottom: 0px;
			}
		}

		&.homepage-image-right {
			.left {
				padding-right: 50px;
			}

			.right {
				margin-bottom: 30px;
				overflow: hidden;
				padding: 0px;
				background-color: #887136;
			}
		}

		&.homepage-image-left {
			.left {
				margin-bottom: 30px;
				overflow: hidden;
				padding: 0px;
				background-color: #887136;
			}

			.right {
				padding-left: 50px;
			}
		}
	}
}

.pane-cinder-blocks-homepage-image-right {
	padding-top: 50px;
	display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: -50px;

	.pane-content {
		margin: auto;
	}

	.homepage-text-center {
		text-align: center;

		.title {
			max-width: 700px;

			h2 {
				line-height: 41px;
    			font-weight: 700;
    			margin-bottom: 40px;
			}
		}

		.text {
			max-width: 700px;

			p {
				font-size: 1.5em;
	    		line-height: 1.5em;
	    	}
		}
	}
}

/* Large */
@media screen and (min-width: 1025px) {
  
}

/* Medium */
@media screen and (min-width: 641px) and (max-width: 1024px) {

}

/* Small */
@media screen and (max-width: 640px) {

}
