@import "base/init";

.pane-cinder-blocks-homepage-banner {
  width: 100vw;
  position: relative;
  margin-left: -50vw;
  left: 50%;
  overflow: hidden;

  #homepage-banner {
    height: 80vh;
    background-color: #0b354d;
    background-attachment: fixed;

    &:after {
      content: '';
      display: block;
      -webkit-clip-path: polygon(100% 100%,0 100%,100% 0);
      clip-path: polygon(100% 100%,0 100%,100% 0);
      height: 100px;
      width: 100%;
      background: #f7f7f7;
      bottom: -1px;
      position: absolute;
      z-index: 1;
    }

    .banner-wrapper {
      pointer-events: none;
      margin: auto;
      height: 80vh;
      position: relative;

      .banner-wrapper-inner {
        overflow: hidden;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 2;

        .banner-overlay {
          pointer-events: none;
          z-index: 1;
          padding: 15px;

          .banner-title {
            font-size: 3.4em;
            line-height: 1em;
            margin-bottom: 0px;
            color: #fff;
            font-weight: bold;
          }

          h1 {
            font-size: 1.4em;
            margin-top: 10px;
            padding: 5px;
            color: #fff;
          }

          h2,
          p {
            pointer-events: none;
            color: #fff;
          }
        }
      }

      .banner-image-wrapper {
        img {
          filter: brightness(80%);
          width: 100vw;
        }
      }
    }
  }
}

/* Large */
@media screen and (min-width: 1025px) {
  #homepage-banner {
    background-image: url('../images/Majors-Hill-Park-View-of-Parliament.jpg');
    background-size: cover;

    .banner-wrapper {
      max-width: 80%;

      .banner-wrapper-inner {
        width: 48%;

        .banner-overlay {
          h2 {
            font-size: 4em;
            letter-spacing: 4px;
            line-height: 1.3em;
          }

          p {
            font-size: 1.9em;
          }
        }
      }
    }
  }
}

/* Medium */
@media screen and (min-width: 641px) and (max-width: 1024px) {
  #homepage-banner {
    background-image: url('../images/Majors-Hill-Park-View-of-Parliament.jpg');
    background-size: cover;

    .banner-wrapper {
      max-width: 80%;

      .banner-wrapper-inner {
        width: 100%;

        .banner-overlay {
          h2 {
            font-size: 4em;
            letter-spacing: 4px;
            line-height: 1.3em;
          }

          p {
            font-size: 1.9em;
          }
        }
      }
    }
  }
}

/* Small */
@media screen and (max-width: 640px) {
  body {
    font-size: 0.9em;
  }

  #homepage-banner {
    background-image: url('../images/Majors-Hill-Park-View-of-Parliament-mobile-design.jpg');

    .banner-wrapper {
      width: 100%;

      .banner-wrapper-inner {
        width: 100%;

        .banner-overlay {
          h2 {
            font-size: 3.5em;
            letter-spacing: 4px;
            line-height: 1.3em;
          }

          p {
            font-size: 1.7em !important;
          }
        }
      }
    }
  }
}
