/* Login Page */
@import "base/init";

#cinder-login-header {
	width: 100vw;
    height: 350px;
    background: #ea5739;
    background: linear-gradient(90deg, #ea5739 0%, #f8a32d 100%);
    position: relative;
    margin-left: -50vw;
    left: 50%;
    
    &:after {
    	content: '';
    	display: block;
    	-webkit-clip-path: polygon(0 0,0 100%,100% 0);
    	clip-path: polygon(0 0,0 100%,100% 0);
    	height: 100px;
    	width: 100%;
    	background: #ea5739;
    	background: linear-gradient(90deg, #ea5739 0%, #f8a32d 100%);
    	bottom: -100px;
    	position: absolute;
    }
}

#cinder-login-wrapper {
    position: relative;
    top: -120px;
    background-color: #fff;
    padding: 30px;
    border-radius: 6px;
    width: 100%;
    box-shadow: 3px 3px 8px rgba(0,0,0,0.3);
}
