@import "base/init";

body {

	.top-bar {
		background-color: $body-bg-banner;
		border-bottom: 1px solid $border-color-banner;

		&.color-bar {
			background-color: $body-bg;
			border-bottom: 1px solid $border-color;
			.box-left {
				border-right: 1px solid $border-color;
				.toggle-topbar {
					a {
						color: $text-color;
						span:after {
							box-shadow: 0 0 0 1px $text_color, 0 6px 0 1px $text_color, 0 12px 0 1px $text_color;
						}
					}
				}
			}

			.box-right {
				.login-link {
					a {
						color: $text-color;
					}
				}
			}	
		}

		.box-left {
			border-right: 1px solid $border-color-banner;

			.toggle-topbar {
				a {
					color: $text-color-banner;

					span:after {
						box-shadow: 0 0 0 1px $text_color-banner, 0 6px 0 1px $text_color-banner, 0 12px 0 1px $text_color-banner;
					}
				}
			}
		}

		.box-right {
			.login-link {
				a {
					color: $text-color-banner;
				}
			}
		}
	}
}

.top-bar {
	display: flex;
	position: fixed;
	top: 0px;
	width: 100%;
	height: 70px;
	z-index: 3;
 	-webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;

	.box-left {
		border-right: 1px solid $border-color-banner;
		height: 70px;

		.toggle-topbar {
			display: block;
			position: relative;

			a {
				color: $text-color-banner;
				font-weight: normal;

				span:after {
					margin-top: -7px;
					box-shadow: 0 0 0 1px $text_color-banner, 0 6px 0 1px $text_color-banner, 0 12px 0 1px $text_color-banner;
				}
			}
		}
	}

	.box-right {
		flex: 1;

		.login-link {
			float: right;
			margin-top: 16px;

			a {
				color: $text-color-banner;
				font-weight: normal;
				height: 34px;
			    line-height: 33px;
			    padding: 0 2.5rem 0 0.9375rem;
			    position: relative;
			}
		}
	}
}

.left-off-canvas-menu {
	background-color: $body-bg;
	width: 320px;
	border-right: 1px solid $border-color;
	left: 0px;
	position: fixed;

	.header {
		padding: 0px 30px;
		height: 70px;
		border-bottom: 1px solid $border-color;

		.exit-off-canvas {
			position: relative;
			box-shadow: none;
			background-color: transparent;
			color: $text_color;
			line-height: 70px;
			padding-right: 27px;
			font-size: 13px;
			display: block !important;

			&:before {
				content: '';
			    position: absolute;
				top: 33px;
				right: 0px;
				width: 20px;
				height: 3px;
				background: #202121;
				-webkit-transform: rotate(45deg);
				transform: rotate(45deg);
				-webkit-transition: all 500ms ease;
			    -moz-transition: all 500ms ease;
			    -ms-transition: all 500ms ease;
			    -o-transition: all 500ms ease;
			    transition: all 500ms ease;
			}

			&:after {
				content: '';
				position: absolute;
				top: 33px;
				right: 0px;
				width: 20px;
				height: 3px;
				background: #202121;
				-webkit-transform: rotate(45deg);
				transform: rotate(-45deg);
				-webkit-transition: all 500ms ease;
			    -moz-transition: all 500ms ease;
			    -ms-transition: all 500ms ease;
			    -o-transition: all 500ms ease;
			    transition: all 500ms ease;
			}
		}
	}

	#main-menu {
		width: 100%;

		a {
			border-bottom: 1px solid $border-color;
			color: $text_color;

			&:hover {
				background-color: $nav_hover_bg;
			}
		}
	}
}

.move-right > .left-off-canvas-menu {
	-ms-transform: translate(0px, 0);
    -webkit-transform: translate3d(0px, 0, 0);
    -moz-transform: translate3d(0px, 0, 0);
    -ms-transform: translate3d(0px, 0, 0);
    -o-transform: translate3d(0px, 0, 0);
    transform: translate3d(0px, 0, 0);
}

.move-right > .inner-wrap {
    -ms-transform: translate(320px, 0);
    -webkit-transform: translate3d(320px, 0, 0);
    -moz-transform: translate3d(320px, 0, 0);
    -ms-transform: translate3d(320px, 0, 0);
    -o-transform: translate3d(320px, 0, 0);
    transform: translate3d(320px, 0, 0);
}

.move-right .top-bar {
	opacity: 0.75;
	-ms-transform: translate(320px, 0);
    -webkit-transform: translate3d(320px, 0, 0);
    -moz-transform: translate3d(320px, 0, 0);
    -ms-transform: translate3d(320px, 0, 0);
    -o-transform: translate3d(320px, 0, 0);
    transform: translate3d(320px, 0, 0);
}
