@import "base/init";

.off-canvas-wrap.move-right {
	.exit-off-canvas {
		opacity: 1;
	}
}

.exit-off-canvas.page {
	opacity: 0;
	box-shadow: none !important;
	background-color: rgba(0,0,0,0.75) !important;
	-webkit-transition: all 0.5s ease-in-out !important;
    transition: all 0.5s ease-in-out !important;
}

/* Page Entity */
.node-type-page {
	.banner-outer-wrapper {
		position: relative;

		ul.breadcrumbs {
			background-color: transparent;
			border: none;
			margin-top: 1.25rem;
		}

		#cinder-banner-image {
			position: relative;

			.banner-wrapper {
				position: relative;

				img {
					width: 100%;
				}

				.banner-text-wrapper {
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					z-index: 1;

					.title-prefix {
						color: #fff;
						text-align: center;
						font-size: 1.4em;
					}

					h1 {
						color: #fff;
						text-align: center;
					}
				}
			}

			.banner-color-overlay {
				width: 100vw;
			    position: absolute;
			    top: 0px;
			    height: 100%;
			    opacity: 0.6;
		    	background-color: #1c1818;
			}
		}
	}

	main.l-main {
		padding-top: 0px;
	}
}

.section-wrapper {
	width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;

	&.no-padding-top {
		padding-top: 0px !important;
	}

	.who-we-are {
		background-color: #fff;

	    &:after {
		    content: '';
		    width: 100%;
		    height: 300px;
		    background-color: #fff;
		    position: absolute;
		    left: 0px;
		    transform: skewY(-10deg);
		    transform-origin: top left;
		    z-index: -1;
		}

	    .inner-wrapper {
	    	margin: auto;
	    }
	}

	h2 {
		font-size: 3em;
		margin-bottom: 25px;
	}

	.our-philosophy {
	    overflow: hidden;

	    .section-overlay {
			width: 100vw;
			height: 100%;
			opacity: 0.8;
			background-color: #0b354d;
			position: absolute;
			top: 0px;
			z-index: -2;
		}

	    .section-image {
	    	width: 100vw;
			height: 100%;
		    background-attachment: fixed;
		    background-size: cover;
		    background-position: 50% 50%;
		    position: absolute;
	    	top: 0px;
	    	z-index: -2;
	    }

	    .inner-wrapper {
	    	margin: auto;
	    	padding-top: 0px !important;

    		h2 {
    			color: #fff;
    		}

	    	i {
	    		position: relative;
	    		padding: 0.5em 1em;
				font-family: 'Roboto', serif;
				font-weight: 100;
				&:before {
					content: open-quote;
				    display: inline;
				    line-height: 0;
				    left: -25px;
				    position: relative;
				    top: 40px;
				    color: #fff;
				    font-size: 5em;
				}
	    	}

	    	p {
	    		color: #fff;
	    		margin-bottom: 25px;
	    	}
	    }
	}
}

/* Large */
@media screen and (min-width: 1025px) {
	.node-type-page {
		.banner-outer-wrapper {
			ul.breadcrumbs {
				position: absolute;
				padding: 15px;
				bottom: 15px;
				left: 50%;
	    		transform: translateX(-50%);
				margin-bottom: 0px;

				li {
					a {
						color: #fff;
					}
				}
			}

			#cinder-banner-image {
				.banner-wrapper {
					.banner-text-wrapper {
						h1 {
							font-size: 2.65em;
						}
					}
				}
			}
		}

		.section-wrapper {
			.who-we-are {
			    &:after {
			    	bottom: -200px;
			    }

			    .image {
		    		max-width: 350px;
				    top: -20px;
				    transform: translateX(15%);
				    position: absolute;
		    	}
			}

			.vision-and-values {
				padding-top: 100px;
    			padding-bottom: 100px;
			}

			.inner-wrapper {
				margin: auto;
	    		padding-top: 120px;
	    	}

			padding: 60px 0px;

			.our-philosophy {
				padding: 120px 0px;

			    .section-image {
			    	background-image: url(/sites/all/themes/cinder/images/woman-holding-tablet-computer.jpg);
			    }
			}

			.about-the-owner {
				padding-top: 60px;
				padding-bottom: 60px;
			}
		}

		.l-main {
			padding-top: 45px;
		}
	}
}

/* Medium */
@media screen and (min-width: 641px) and (max-width: 1024px) {
	.node-type-page {
		.banner-outer-wrapper {
			ul.breadcrumbs {
				position: absolute;
				padding: 15px;
				bottom: 15px;
				left: 50%;
	    		transform: translateX(-50%);
				margin-bottom: 0px;

				li {
					a {
						color: #fff;
					}
				}
			}

			#cinder-banner-image {
				.banner-wrapper {
					.banner-text-wrapper {
						width: 80%;

						h1 {
							font-size: 2.2em;
						}
					}
				}
			}
		}

		.l-main {
			padding-top: 45px;
		}	
	}

	.section-wrapper {
		.who-we-are {
		    &:after {
		    	bottom: -125px;
		    }

		    .image {
	    		max-width: 300px;
    			transform: translate(15%, 15%);
    			position: absolute;
	    	}
		}

		.vision-and-values {
			padding-top: 100px;
			padding-bottom: 100px;
		}

		.inner-wrapper {
    		padding-top: 80px;
    	}

		padding: 40px 0px;

		.our-philosophy {
			padding: 120px 0px;

		    .section-image {
		    	background-image: url(/sites/all/themes/cinder/images/woman-holding-tablet-computer.jpg);
		    }
		}

		.about-the-owner {
			padding-top: 40px;
			padding-bottom: 40px;
		}
	}
}

/* Small */
@media screen and (max-width: 640px) {

	.banner-outer-wrapper {
		#cinder-banner-image {
			.banner-wrapper {
				.banner-text-wrapper {
					width: 90%;

					h1 {
						font-size: 2em;
					}
				}
			}
		}

		ul.breadcrumbs {
			z-index: 1;
			width: 100%;
		}
	}

	.node-type-page {
		.section-wrapper {
			padding: 30px 0px;

			.inner-wrapper {
	    		padding-top: 60px;
	    	}

			.who-we-are {
			    &:after {
			    	bottom: -100px;
			    }

			    h2 {
			    	text-align: center;
			    }

			    .image {
		    		max-width: 300px;
		    		left: 50%;
    				transform: translateX(-50%);
			    	position: relative;
			    	margin-top: 60px;
		    	}
			}

			.vision-and-values {
				padding-top: 100px;
    			padding-bottom: 100px;

    			h2 {
			    	text-align: center;
			    }

    			.image {
    				left: 50%;
    				transform: translateX(-50%);
			    	position: relative;
			    	display: inline-block;
			    	padding-bottom: 30px;
    			}
			}

			.our-philosophy {
				padding: 100px 0px;

			    .section-image {
			    	background-image: url(/sites/all/themes/cinder/images/woman-holding-tablet-computer-mobile.jpg);
			    }
			}

			.about-the-owner {
				padding-top: 20px;
				padding-bottom: 20px;

				img {
					max-width: 200px;
				    left: 50%;
				    transform: translateX(-50%);
				    position: relative;
				}

				h2 {
					margin: 15px 0px 15px 0px;
					text-align: center;
				}
			}
		}

		.l-main {
			padding-top: 0px;
		}
	}
}
