/* SEO Analysis */
.page-free-seo-analysis-tool {
	.pane-cinder-seo-cinder-seo-search-form {
	    padding: 75px 0px 120px 0px;
		margin-bottom: 15px;

		h1 {
			color: #fff;
			text-align: center;
			margin-bottom: 15px;
		}

		form {
			overflow: hidden;
			text-align: center;

			.search-text {
				color: #fff;
				margin-bottom: 30px;
				font-size: 1.2em;
			}

			#cinder-form-inner {
				overflow: hidden;
    			display: inline-block;

				.form-item {
					margin: 0px;
	    			float: left;
					display: inline-block;

					label {
						display: none;

						.form-required {
							display: none;
						}
					}

					input {
						margin: 0px;
						border: none;
					    height: 50px;
					    border-top-left-radius: 4px;
					    border-bottom-left-radius: 4px;
					    max-width: 500px;
					    font-size: 1.4em;
					    padding-left: 15px;
					    padding-right: 15px;
					}
				}
			}

			#edit-submit-button {
				float: left;
    			margin: 0px;
    			border-top-left-radius: 0px;
				border-bottom-left-radius: 0px;
			}

			.form-background {
				background: rgb(59,124,162);
				background: radial-gradient(circle, rgba(59,124,162,1) 0%, rgba(11,53,77,1) 70%);
				width: 100vw;
				height: 100%;
				position: absolute;
				margin-left: -50vw;
				left: 50%;
				top: 0px;
				z-index: -1;
				overflow: hidden;
			}
		}
	}

	.pane-page-breadcrumb {
		.breadcrumbs {
			background: transparent;
			border: none;
		}
	}

	.pane-cinder-seo-cinder-seo-results {
		background-color: #fff;
		padding: 15px;
		border-top: 4px solid #3b7ca2;
		box-shadow: 3px 3px 8px rgba(0,0,0,0.3);
		border-radius: 4px;
		margin-top: 15px;

		.tabs-wrapper {
			ul {
				margin: 0px;
				width: 100%;

				li {
					display: inline-block;
					margin-right: 5px;

					a {
						width: unset;
						border-top-left-radius: 4px;
    					border-top-right-radius: 4px;
    					border-bottom: 0px;

    					&:not(.active) {
							border-left: 1px solid #eee;
							border-top: 1px solid #eee;
							border-right: 1px solid #eee;
						}
					}
				}
			}
		}

		.cinder-seo-section {
			.inner-wrapper {
				position: relative;
				padding: 15px;
   				border: 1px solid #eee;

				h3 {
					font-size: 2em;
				    border-bottom: 1px solid #eee;
				    margin-bottom: 15px;
				    padding-bottom: 8px;
				}

				.content {
					margin-top: 30px;
					margin-bottom: 30px;

					.field {
						.field-label {
							display: inline-block;
						}

						.field-value {
							display: inline-block;
						}

						.progress {
							.score-text {
								position: absolute;
								left: 50%;
							}
						}
					}

					.cinder-score-section {
						text-align: center;

						.number {
							position: absolute;
							font-size: 3rem;
							top: 26%;
							left: 50%;
							transform: translateX(-50%);

							&.live {
								&:after {
									content: '%';
								}
							}
						}

						.gauge-label {
							.fa {
								display: block;
								font-size: 1.8rem;
							}

							.label-text {
								font-size: 1.2rem;
								color: #4d4d4d;
							}
						}
					}

					.monitor-wrapper {
						margin: auto;
						padding: 10px 24px 60px 19px;
						background: url(/sites/all/modules/custom/cinder_seo/images/monitor-transparent.png) no-repeat;
						background-size: contain;
						width: 250px;
						height: 200px;

						img {
							width: 100%;
							height: 100%;
						}
					}

					.section-score {
						position: absolute;
						top: 0px;
						right: 0px;
						font-size: 2em;
					}

					.boolean-result {

					}

					.numeric-result {
						position: relative;
						margin: 15px 0px;
						padding: 0px 15px 15px 15px;
						border-bottom: 1px dotted grey;

						.field-data {
							position: absolute;
							top: 5px;
							right: 15px;
							font-size: 0.8em;
						}

						.progress {
							position: relative;

							.score-text {
								left: 50%;
								top: 0px;
								position: absolute;
							}
						}
					}

					.field-label {
						font-size: 1.2em;

						&.pass {
							&:before {
								content: '\2713';
								color: #43AC6A;
							}
						}

						&.fail {
							&:before {
								content: '\2716';
								color: #ea5739;
							}
						}
					}

					.field-description {
						color: #999;
					    font-size: 0.8em;
					    font-style: italic;
					    margin-left: 18px;
					}
				}

				.overview-gauge-wrapper {
					.column {
						text-align: center;

						.number {
							position: absolute;
							top: 32px;
							left: 50%;
							transform: translateX(-50%);

							&.live {
								&:after {
									content: '%';
								}
							}
						}

						.gauge-label {
							.fa {
								display: block;
								font-size: 1.8rem;
							}

							.label-text {
								font-size: 0.875rem;
								color: #4d4d4d;
							}
						}
					}
				}
			}
		}
	}

	.cinder-share {
		margin-top: 30px;
		border-top: 4px solid #3b7ca2;
		box-shadow: 3px 3px 8px rgba(0,0,0,0.3);
		border-radius: 4px;
	}
}

.page-batch {

	#cinder-batch-api-wrapper {
		margin: 120px 0px 70px 0px;
		padding: 15px;
		background-color: #fff;
		border-top: 4px solid #3b7ca2;
		box-shadow: 3px 3px 8px rgba(0,0,0,0.3);
		border-radius: 4px;
		overflow: hidden;
		min-height: 200px;

		#progress {
			overflow: hidden;
			height: 80px;

			.progress {
				background-color: #fff;

				.message {
					overflow: hidden;
				}
			}
		}
	}
}
