@import "base/init";

.pane-cinder-blocks-homepage-banner {
	.banner-color-overlay {
		width: 100vw;
		height: 100vh;
	    position: absolute;
	    top: 0px;
	    height: 100%;
	    opacity: 0.6;
    	background-color: #1c1818;
	}
}
